[2017-08-24 22:14] cmungall opened #1 "Add a 'clear all' button to the top of the table editor"
_From @vanaukenk on August 23, 2017 13:58_

Hi,

Not sure if I've missed how to do this, but it would be really helpful to have a 'clear all' functionality at the top of the editor.

This functionality would just clear whatever entries are currently seen in the editors table at the top of the form, but wouldn't delete any annotons from the model.

Thx.

_Copied from original issue: DoctorBud/table

[2017-08-24 22:17] cmungall opened #2 "Allow use of valid identifiers not in autocomplete in simple annoton mode"
For full context see: https://github.com/geneontology/noctua/issues/471

TBD: hack this in for now or replace ACs with a more general widget

[2017-08-24 23:16] cmungall opened #3 "Add a NOT button to each aspect"
Required for
https://github.com/geneontology/noctua/issues/524

[2017-08-24 23:22] cmungall opened #4 "Warn (prevent?) users if the model contains edges that could potentially be lost"
the SAM only covers a subset of expressivity of GO-CAMs. If a model contains extra info, e.g. causal linkages, these can be lost if any edits are made in the SAM.

Minimally the SAM should say: be careful editing existing models

Ideally, the SAM would detect if the model contains any edges untranslatable to simple annotons and warn if these are present.

[2017-08-25 00:14] kltm commented on #4
As well, it should be noted that when "editing" an annoton in this tool, currently it is destroyed and replaced. It is also possible to mine out the entities and replace them with new class expressions, but it take a little more work.

[2017-08-25 00:18] kltm opened #5 "Add a clone or "template" button to the operations"
A common curator use case is to base their next annotation on a past one.

This feature would be almost identical to the current edit button actions, except that there is no destructive step.

[2017-08-25 01:07] kltm opened #6 "Add ability to generate own empty model and iterate to new empty model after save (also change or force title)"
As part of a quicker workflow we should be able to directly jump to the form and have it generate a new empty model on the fly, rather than transitioning through an empty model in the graph editor.

As well, once a model is saved, a button should be made available to create/jump to a new empty form of the same type as previously run.

Note that in the Noctua stack, the model title is special in th

[2017-08-25 01:11] kltm opened #7 "Add save / store button"
Currently, within SAE, there is no way to save / store a model, requiring exiting back to the graph editor to finalize.

This also includes changing of the current "save" language in SAE to distinguish between adding rows and actually storing the model. Possibly with an indicator for the users of whether the model is unsaved.

[2017-08-25 21:28] hdrabkin opened #8 "Spurious GP boxes created if edit and resave"
While putting in annotations into table-editor. Made mistake on PMID. Edited in table editor and resaved. Annoton is fine but 4-5 orphan boxes with the gene product symbol were created. Could remove them ok, but is a nuisance. See model gomodel:5993df9e00000631 as example (I left two in, but several more were made.

[2017-08-26 00:20] kltm commented on #8
As this model may not survive the restart planned later today, here are some screenshots of the model:

![screenshot_2017-08-25_17-19-18](https://user-images.githubusercontent.com/2687900/29736803-9c1a94d8-89b9-11e7-8d9e-c2a55a9a9f00.png)

![screenshot_2017-08-25_17-18-44](https://user-images.githubusercontent.com/2687900/29736806-a067957c-89b9-11e7-98c2-68791296874f.png)

[2017-08-28 00:33] kltm opened #9 "The SAE should be aware of user groups and allow users to select and use them"
Currently, the SAE only gives identifies users with their ORCID (via session ID from Barista). Additionally, to match the expressivity from the graph editor, the SAE should also transmit the selectable user group information.

In manager, used as:
[code]
or:
[code]

The manager is just use as a temporary hold for the information (as the manager is often holding the widget "state"), but is not nece

[2017-08-28 00:35] kltm commented on #9
Another approach would be to coordinate on a cross-toolkit/cross-environment widget that handles login/token/session/groups.

[2017-08-28 13:48] hdrabkin commented on #8
I see today that there are more than just the two from Friday. I suspect that more are created whenever the model is opened?

[2017-08-28 20:45] kltm commented on #8
@hdrabkin Unlikely, but other people may have been experimenting and that has caused more individuals to appear. @DoctorBud may be able to answer that.

[2017-09-20 15:57] cmungall opened #10 "Bare CC annotation should generate part-of triples"
From: https://github.com/geneontology/noctua/issues/492

Change the mapping from form to triples.

If BP and MF unspecified, and GP and CC are specified, then the generated triple should be:

[code]

also reverse

Note: this ONLY applies to the precise condition above, not any other condition

[2017-09-20 16:21] cmungall commented on #10
@DoctorBud is there a unit test for https://github.com/geneontology/simple-annoton-editor/blob/master/app/graph.service.js

[2017-09-22 00:56] kltm opened #12 "Extend form to include standard GO-CAM model fields"
_From @thomaspd on September 22, 2017 0:55_

On the form interface for Noctua, we could add two additional fillable fields for each line (MF, BP, CC):

MF: [has_input (gene product)] [occurs_during (biological phase)]
This would give the added triplets MF—(has_input)—>gene product, and MF—(occurs_during)—> phase

CC: [part_of (cell type)] [part_of (anatomy term)]
This would give CC—(part_of)—>cell

[2017-09-22 00:57] kltm commented on #12
Looping @thomaspd back in after move.

[2017-09-22 15:24] krchristie commented on #12
Just to confirm that I understand this part:

By **triplets from a given line**, you mean each series of extensions in a single aspect, so if I put cell type and anatomy into my CC line all of these things get the same evidence.

This would be great!

[2017-09-23 21:09] thomaspd commented on #12
Yes, you understand correctly, glad it would work for you! :)

[2017-10-03 13:15] kltm opened #14 "Restrict selectable evidence codes to manual subset in SAE"
As an aid to curators and prevent mis-annotation, we will restrict the selectable evidence codes to the closure of http://noctua-amigo.berkeleybop.org/amigo/term/ECO:0000352
This is the SAE analog of geneontology/noctua#508 .

[2017-10-12 21:32] kltm opened #15 "Simple annoton editor"
_From @pmasson55 on October 12, 2017 9:21_

Hi,

The editor is great for creating new annotations, but when I want to edit preexisting annotons, the links between this annoton and the others are destroyed in the process. Is it meant to be that way since changing Molecular function for instance change the relationship between the annotons, or is it a bug?

_Copied from original issue: geneontology/

[2017-10-12 21:35] kltm commented on #15
At the very least, this should be covered in #4
As part of the roadmap, we have the editor not acting in any destructive way at all.

[2017-10-12 21:35] #15 closed

[2017-10-12 21:36] kltm commented on #15
@pmasson55
As well, this is a documentation/training issue--the current SOP is to use the simple annoton editor for initial seeding, then doing the wiring afterwards, specifically because of this destruction.

[2017-10-12 21:39] kltm opened #16 "Modify annotons in a non-destructive way to preserve edges in graph"
Ideally, instead of destroying and re-creating annotons on edit, the SAE could "hollow-out" an annoton and give it new class-expressions in-place. This would preserve edges at when working within the SAE.

This could also be implemented at the minerva-requests level, and could be used in other clients.

This is a clarification of the roadmap related to #4

[2017-10-12 21:40] kltm commented on #15
@pmasson55
As well, I've made the roadmap explicit with #16 .

[2017-10-13 19:52] kltm opened #17 "Simple annoton form suggestion: Add a “clone annotation” option"
_From @sabrinatoro on October 13, 2017 18:36_

It would be useful to add an “clone annotation” option.
This would re-populate the form with the elements of an existing annotation (same as the current “edit” option), then allow curators to change one (or more) of the elements and save as a new annotation.
This is a useful tool when we need to make multiple annotations which differ by only one eleme

[2017-10-13 19:53] kltm commented on #17
Dupe of #5

[2017-10-13 19:53] #17 closed

[2018-01-18 22:33] kltm commented on #3
The main technical discussion occurred here:

 https://github.com/geneontology/noctua/issues/218

Note that we proceeded with the "weaker" example in the right (the
second code example).

For how this plays out in code, you may be interested in the
`issue-218-graph` branch in noctua:

 https://github.com/geneontology/noctua/tree/issue-218-graph

which is currently deployed on noctua-dev.berkeleybo

[2018-01-18 22:40] tmushayahama commented on #3
I am able to create the complement. However, I cannot read the id and label as they are null (picture below). What is the way to get the id/label data?
![image](https://user-images.githubusercontent.com/2273929/35125145-64475b10-fc5d-11e7-8081-31bc4c313718.png)

[2018-01-18 22:55] kltm commented on #3
There is no "class id" for a complement--it is merely the complement of whatever class expressions is wraps.
That said, you probably want to look at the use of the class expression library around complements:
https://github.com/berkeleybop/class-expression/blob/master/tests/core.tests.js#L215
As well (and I assume that it is debugging code above, but I'll be pedantic :), you'd probably want to str

[2018-01-19 19:33] vanaukenk opened #18 "Autocomplete needs to contain full set of annotatable gene products"
The autocomplete for gene products will need to include the same set of annotatable gene products as the graphical editor.

I've just tried entering the following strings for autocomplete and do not get any resulting matches:

- daf-16

- WB:WBGene00000912

- dpp

- dpp Dmel

- FB:FBgn0000490

- wee1 (trying to find a pombe gene; autocomplete presents human and pig wee gene products)

- wee1 Spom

[2018-01-22 02:12] tmushayahama commented on #18
Changed closure  to CHEBI:23367 from CHEBI:33695. Now all the genes should show up.

[2018-01-22 02:12] #18 closed

[2018-01-23 00:35] vanaukenk opened #20 "Allow annotation to root nodes"
Curators should be able to create annotations to the root nodes of each aspect of the ontology.

molecular_function (GO:0003674)
biological_process (GO:0008150)
cellular_component (GO:0005575)

[2018-01-23 18:51] vanaukenk opened #21 "UI changes based on user feedback"
Based on some user testing and feedback, the following changes to the UI are requested:

- Change color of Molecular Function, Cellular Component, Biological Process text to grey

- Make each field of data entry a box to give a clearer indication of where data needs to be entered

- Clearly delineate required fields with a red asterisk

[2018-01-23 18:53] vanaukenk opened #22 "Display unique id or accession along with gene product name and species"
To clarify for curators what entity they are annotating, we will need to also display the unique id or accession associated with the gene name and species.

[2018-01-23 22:08] tmushayahama commented on #22
Isn't it the model id displayed on top-left of the page? Or they want something to uniquely identify an activity within the model?

[2018-01-24 06:42] thomaspd commented on #22
This refers to what is displayed in the form for a gene product.  Right now, only the label is shown, and we want the label plus the identifier.  For example, right now you show "ABCA1 Hsap", but the curators want to see "ABCA1 Hsap (UniProtKB:O95477)".

This applies to the form, and to the view of the activities in the model at the bottom of the page.

[2018-01-24 18:53] tmushayahama commented on #22
Now the Gene Product and Macromolecular Complex input will show label (id) once you select from the dropdown

[2018-01-24 18:53] #22 closed

[2018-01-25 02:02] vanaukenk opened #23 "With entries need to populate the evidence on the graph nodes"
Entering values in the With field of the SAE does not populate the corresponding With field in the evidence section of the corresponding node of the graph view.

Also note that With entries may be comma- or pipe-separated and that formatting will need to be preserved in the graph view as well.

[2018-01-25 04:24] tmushayahama commented on #23
I have added the "with" and is now being added to the graph. However, for now, I am not validating or checking if the pattern is in the format "PREFIX:ID, +". It is just treated as a text. Will close it for now but will add validations to all fields in form.

[2018-01-25 04:24] #23 closed

[2018-01-25 05:22] #1 closed

[2018-01-25 05:39] tmushayahama commented on #3
Let me know what you think about this approach and if it the correct behavior with this new editor. with extensions. On each aspect, there is a toggle "Complement" button as shown in the following picture. The parent aspect is the only node to be complemented not its children and does not traverse down the children.
As an example, if you complement MF to ![MF], it does **not** complement HasInput

[2018-01-25 15:23] cmungall commented on #23
Note the underlying datamodel doesn't support disjunctions of Withs (pipes), only conjunctions (commas).

One hacky option is simply to store the boolean expression as a string using the GAF syntax

[2018-01-25 18:09] kltm commented on #3
The complement applies to only the class expression of a single individual (not annoton or aspect). Visually, what you have done appears to be a `not` on three different individual, rather than just one. It may be better to model this as a checkbox of some kind and a clear visual cue once it has been checked.

Tagging @cmungall as well.

[2018-01-25 18:56] cmungall commented on #3
Let's keep it simple. Negation should be forbidden if the user specifies any nested values for F/P/C. The chance for user logic error is high and there is no real use case for this.

[2018-01-25 19:02] vanaukenk opened #24 "Spec out and create a sample form for transcription factor activities"
As per discussion at 2018-01-5 Berkeley docathon.

See:

http://128.125.244.115:8910/editor/graph/gomodel:5a68227600000058

and other transcription models/templates.

[2018-01-25 19:11] vanaukenk opened #25 "Allow for searching on IDs or accessions"
Curators will want to be able to cut and paste database IDs in the Gene Product field.

This currently works in the Add Individual field in the graph editor.

[2018-01-25 19:20] vanaukenk opened #26 "Autcomplete is unresponsive for some genes"
@kltm can confirm this result

For sample searches, try:

spe-11
pal-1

[2018-01-25 19:23] vanaukenk commented on #26
More specific comments on behavior:

Typing spe-11 and space, then back to remove the space, the autocomplete list appears.

[2018-01-25 20:38] tmushayahama commented on #26
@kltm @cmungall when I put q:spe-11* in the request it is returning empty results, but q:spe-11 * then there is match. What should be the value of q or do I need something else on the request. The following is the full request

_:1516912159227
callback_type:search
defType:edismax
facet:true
facet.field:source
facet.field:subset
facet.field:regulates_closure_label
facet.field:is_obsolete
facet.limi

[2018-01-25 22:51] kltm commented on #26
@tmushayahama Without digging in too much, this is likely due to the code using it's own query builder from the fields, rather than the library we have for this (a design decision from the predecessor's development). I suspect that is has to do with the lack of quotes around the query and the `-` being treated as a control character. If so, it may be informative to look at the how the manager soft

[2018-01-26 23:43] vanaukenk opened #27 "Specifications for BP only implementation of SAE"
The form should allow curators to choose from a drop-down list (above the BP line) to specify the relation between the gene product and the Biological Process term.

The relations to include are (in order from top-to-bottom in the drop-down list):

acts upstream of or within (RO:0002264)
-acts upstream of or within, positive effect (RO:new)
-acts upstream of or within, negative effect (RO:new)
-ac

[2018-01-27 00:04] cmungall commented on #27
https://github.com/oborel/obo-relations/pull/225

[2018-01-31 23:51] tmushayahama opened #28 "Implementation Ideas: Model closure parser"
Any ideas for an implementation/algorithm for a simple model graph parser to check if each model's node has a valid isa_closure/regulates_closure. _isItAClosure(a, b)_ is working fine, but it is a server call.

So since it is an asynchronous call, current algorithm is to just wait until the _isItAClosure()_ server call returns with an answer. However this is problematic when I am traversing the gr

[2018-01-31 23:59] kltm commented on #28
@tmushayahama Would you mind stepping back a bit and describing what you are trying to accomplish with this? As well, when you say a server call, it this something that you've implemented elsewhere, or are you going against the GOlr/Solr backend?

[2018-02-01 18:33] tmushayahama commented on #28
In brief, given any node in the graph, I want to see what type it is. Is it MF, BP, GP, CC, MacromolecularComplex (the autocomplete constraints used).

The server call goes to the GOlr/Solr backend. (a subset to the autocomplete call)

[2018-02-01 19:08] cmungall commented on #28
cc @balhoff @dougli1sqrd this kind of testing nodes for their high level type is going to be a common use case. It's trivial to do this with a SPARQL query, but at the moment we can't do arbitrary SPARQL. While it's also possible to do this querying against isa closure in Solr, I'm not sure this is the best approach long term (though it would probably work for @tmushayahama's use case here)

One o

[2018-02-01 19:25] balhoff commented on #28
This can certainly come from the reasoner. Maybe we are moving to a point where the reasoner is not optional... but it still may add a fraction of a second hit if applied to every change. Maybe a service for asking for these high level types would not necessarily run constantly?

[2018-02-01 19:26] dougli1sqrd commented on #28
Is there an "Owl API" for javascript? It seems like if you had the ontology loaded locally, you could do simple `isSubClassOf(a, b)` or something. Unless the ontology is not in memory locally.

[2018-02-01 20:41] kltm commented on #28
@tmushayahama For the time being, you would use the `isa_closure` that we added. As well, some information about gps and ontology "aspect" are already built into the annotation document category. I would use the former approach for now.

That said, while fine for smaller models, something like this might not scale for larger models.

[2018-02-08 22:59] #4 closed

[2018-02-08 23:02] #14 closed

[2018-02-08 23:04] cmungall commented on #10
Done in SAE

[2018-02-08 23:04] #10 closed

[2018-02-09 21:31] kltm opened #29 "Will need to add model annotation toggle for form input"
As it stands right now, all new models in Noctua, unless otherwise specified, are set to default to `development` status (as a model annotation). While this can be manually toggled in the graph editor all form editors will also need the ability to model models through the various status states. Specifically, `development` and `production`.

[2018-02-14 03:52] vanaukenk opened #30 "Form should check for incorrect reference formatting and not allow annotations to be made if references are not entered correctly"
The proper format for references in a GO annotation is:

DB:accession_number

All values entered into the Reference field should be checked for that format and annotations should be flagged with an error message and not created in the model if the Reference entry does not conform to that syntax.

I will also add this same ticket to the Noctua tracker, as the graphical interface should have a check

[2018-02-14 17:12] kltm opened #31 "Merge the fork back into the upstream repo"
Switching repos is a bit difficult for looking at what is currently going on on noctua-dev. As the current fork is the only active development, it needs to be folded back into the upstream geneontology repo.

As well, it seems like the compiled component is not included in the current fork. Workbenches should always include the properly pathed compiled component for use. (With the compiled compone

[2018-02-26 19:20] vanaukenk opened #32 "SAE needs to recognize WBbt (worm anatomy) terms for contextual information"
Hi,

We are not able to autocomplete on C. elegans anatomy terms in the SAE, for example to add cell type or anatomy to a CC annotation.

These terms are usually available for WB curators in the graphical interface.

Thx.

[2018-02-26 19:26] vanaukenk commented on #26
Hi,
This autocomplete issue is still a problem for C. elegans genes.
If we type, for example:
lin-
we get a list of genes without having to backspace, but only ten genes appear and since there are many lin- genes, we may not get the one we are looking for.
If we type the full gene name, for example:
lin-29
then we have to type a space, and then backspace, in order to get the correct entry in the a

[2018-02-26 20:08] vanaukenk commented on #26
There are also issues with the autocomplete for other entities, e.g. anatomy terms.
If I type:
'forelimb'
in the part_of Anatomy box for CC
with no space, I get a list of terms that begins with
'forelimb zeugopod skeleton'.
If I then type a space, nothing changes, but if I type a space and then backspace, the UBERON term for forelimb appears at the top of the list, which is the term I was original

[2018-03-01 08:13] tmushayahama commented on #31
Have made a dev branch on SAE https://github.com/geneontology/simple-annoton-editor/commit/ab80333dedb003c8deb36fc5442d013d46288b8e

[2018-03-01 08:13] #31 closed

[2018-03-01 08:17] tmushayahama commented on #29
Done in SAE https://github.com/geneontology/simple-annoton-editor/commit/c076010639739b2248015363017caf0360a1a287

[2018-03-01 08:17] #29 closed

[2018-03-01 08:26] tmushayahama commented on #20
For root node, select the more option button (ellipsis button "...") then choose from the drop down menu
![image](https://user-images.githubusercontent.com/2273929/36834139-b4185f0a-1ce6-11e8-9436-5396a4eded30.png)
was fixed https://github.com/geneontology/simple-annoton-editor/commit/8ac08dfa33aedc0fd755ac6c99cc21a66a920e19 and https://github.com/geneontology/simple-annoton-editor/commit/0e39aca4

[2018-03-01 08:26] #20 closed

[2018-03-01 08:27] #9 closed

[2018-03-01 08:36] tmushayahama commented on #3
The logic is

Case 1 - The user negates then all the nested values of that section is disabled
![image](https://user-images.githubusercontent.com/2273929/36834438-c68059e4-1ce7-11e8-80f0-d3c76815ca6e.png)

Case 2 - If the user has already put values on the nested, then the user will not be allowed to negate
![image](https://user-images.githubusercontent.com/2273929/36834502-ec09a864-1ce7-11e8-93ae

[2018-03-01 08:36] #3 closed

[2018-03-05 15:45] vanaukenk commented on #26
@tmushayahama - will the autocomplete issue wrt C. elegans gene names be resolved when your working copy is merged into Noctua-dev?
The autocomplete for C. elegans genes works fine on the graphical interface on Noctua and Noctua-dev.  Thx.

[2018-03-05 15:55] vanaukenk commented on #32
@tmushayahama
As with #26 - will this issue be addressed upon merging your code with Noctua-dev?  Thx.

[2018-03-05 18:32] tmushayahama commented on #32
@cmungall can you comment on what closure to include the worm anatomy terms

[2018-03-05 18:43] tmushayahama commented on #27
@vanaukenk what is the status of the new RO ids?

[2018-03-05 19:31] cmungall commented on #32
This pull request will fix the issue: https://github.com/geneontology/go-ontology/pull/15327

previously the ontology did not know what wbbt terms were, they were floating in their own graph, unconnected. This bridges wbbt classes with uberon, and uberon is connected with the right upper level terms

however, we will need to validate the combination, cc @balhoff

[2018-03-05 19:37] balhoff commented on #32
5 unsatisfiable classes:

- 'Z4.appaaaa nucleus'
- 'Z4.appaaap nucleus'
- 'dorsal nerve cord'
- 'head muscle'
- 'ventral nerve cord'

[2018-03-05 19:41] balhoff commented on #32
I'm guessing peripheral nervous system and central nervous system don't make sense for nematodes?

[2018-03-05 22:35] raymond91125 commented on #32
@balhoff What does unsatisfiable mean? I would like to see how these 5 may be different from other anatomy terms and if I can fix them if there's anything incorrect/inconsistent.

[2018-03-05 22:41] cmungall commented on #32
Moved here: https://github.com/obophenotype/uberon/issues/1405

@balhoff I only get unsat for DNC and VNC

@raymond91125 - a class if unsatisfiable if it is equivalent to the empty set, for example being a subclass of two disjoint classes. You may want to go through the tutorial here
http://go-protege-tutorial.readthedocs.io/en/latest/Disjointness.html

See also http://uberon.github.io/downloads.h

[2018-03-06 06:46] #21 closed

[2018-03-06 06:47] #12 closed

[2018-03-06 06:50] tmushayahama commented on #8
No longer an issue

[2018-03-06 06:50] #8 closed

[2018-03-12 14:47] vanaukenk commented on #26
@tmushayahama - it looks like the autocomplete is still not working optimally for C. elegans gene names in the SAE on Noctua-dev.
Would you have time this week to look at this with me so we can get this working?
As a reference, all is fine on the graphical interface.  Thx.

[2018-03-12 15:35] krchristie opened #37 "SAE needs to allow EMAPA IDs"
Although the SAE allows me to autocomplete EMAPA IDs for mouse anatomy terms (as you can see in attached picture), it then shows them with an error, saying it is expecting an Uberon ID instead.

![20180310-ccextsbyautocomplete](https://user-images.githubusercontent.com/10533218/37293329-30f61232-25d0-11e8-9e3b-9f7aaacc1e3e.jpg)

Here's the model: http://68.181.125.145:8910/workbench/simple-annoton

[2018-03-12 15:35] vanaukenk opened #38 "Make additional evidence added visible in the editor"
It is very nice to be able to add additional evidence and references to an annotation, but it would be more helpful to curators if they could actually see all of the evidence and references they've added.

Right now, only the first combination of evidence and reference is displayed.

Thx.

[2018-03-12 18:19] krchristie opened #39 "SAE should not allow you to save with non-autocompleted values present"
While the SAE does allow you to autocomplete in extensions fields using pasted in IDs once you have entered a space to activate the autocompletion, it also allows you to forget to autocomplete and just paste the ID into the extension field. This becomes a problem, when it lets you save thinking that you have put in info for an extension, but it saves the GO term WITHOUT the extension info.

If you

[2018-03-12 21:19] krchristie commented on #39
Whatever solution implemented for this issue may want to take this ticket into account: https://github.com/geneontology/simple-annoton-editor/issues/2

[2018-03-12 21:44] krchristie opened #40 "incorrect assumption in SAE on CC extensions entered in graph"
In this model, I have entered component annotations with cell component extensions via the graph.

http://68.181.125.145:8910/editor/graph/gomodel:5a98684700000110

However, the SAE is giving me an error saying that it expected a GO ID. I have used the part_of relationship between the two individuals as I've been taught to do for some time for this type of cell type extension. This relationship ma

[2018-03-12 21:53] krchristie commented on #40
The same problem exists for anatomy term extensions, whether using EMAPA (see Dnah9 Mmus annotation) or Uberon (see Dnah2 Mmus annotation).

[2018-03-12 21:56] tmushayahama opened #41 "External Search for existing annotations"
This feature lets you quickly do an "external search" to Golr server for existing annotations for that particular GP and aspect. It works just like the Component Companion.

In Brief

**Step 1 - Enter Gene Product**

![image](https://user-images.githubusercontent.com/2273929/37311082-4841e78a-2603-11e8-8dc3-ea139ce2b3bf.png)

**Step 2 - Select 1 or more rows and Click Save**

![image](https://user

[2018-03-12 21:59] cmungall commented on #41
is this scheduled for 1.0?

[2018-03-12 22:12] thomaspd commented on #41
I don’t think it’s in the requirements but it’s one of the first things curators ask for when they see Noctua.  So as long as it doesn’t delay the 1.0 release date I think it would be good to include it.

From: Chris Mungall <notifications@github.com>
Reply-To: geneontology/simple-annoton-editor <reply@reply.github.com>
Date: Monday, March 12, 2018 at 2:59 PM
To: geneontology/simple-annoton-editor

[2018-03-12 22:24] tmushayahama commented on #40
@krchristie let me check it and I will be back with full answer. I am assuming in CC Only, there is no root MF (molecular_function). CC Only was described as **GP part_of CC part_of Cell Type part_of Uberon**. @thomaspd can you comment on this.
in the meantime @kltm can you save Karen's model since this is a development environment it might disappear soon http://68.181.125.145:8910/editor/graph/go

[2018-03-12 22:31] tmushayahama commented on #38
@vanaukenk I was struggling on how to display it on the SAE Form without overpopulating. The functionality is a bit hidden (steps below). On the main form only the first one is shown.
Any suggestions on this?

**Click More Evidence**

![image](https://user-images.githubusercontent.com/2273929/37312830-df215a72-2609-11e8-9e43-ada197771955.png)

**Then you can add more**

![image](https://user-image

[2018-03-12 22:41] thomaspd commented on #40
Hi Karen,

Your model isn't valid because it specifies that an MF (an occurrent) is part of a tissue (a continuant).  You've already connected an MF to a CC term using occurs_in.  You just need to connect the tissue term to the CC term (instead of the MF) using part of.

[2018-03-12 23:09] krchristie commented on #40
@thomaspd - If you do this in the graph editor by making an annoton for the gene product being in an axoneme, and then adding an individual for the cell type or anatomy term, this is what you get.

Exploding out to separate the terms is entirely impractical as it's just too time consuming to find the right terms and connect them correctly.

[2018-03-12 23:27] tmushayahama commented on #30
@vanaukenk I have added the reference and with check 'DB:accession_number', However it doesn't further check if a particular DB exists or a particular accession_number exists. e.g. WRONG_DB:1234 will pass. Should I check this also? Is there a known list of Databases?

[2018-03-12 23:39] thomaspd commented on #40
Understood.  The SAE form should make it much easier to make a valid model.

[2018-03-13 01:08] thomaspd commented on #41
The major use case is for curators trying to create a larger "pathway" or other model, using annotations that are already in the GO database.  This was in the original spec Huaiyu and I drew up years ago, and multiple curation groups asked for this functionality during the Noctua demos at EBI and the Corvallis meeting.  UCL was waiting for this functionality before creating larger models for SynGO

[2018-03-13 05:37] tmushayahama commented on #40
@krchristie @thomaspd We can leverage the SAE User Interface to communicate with the user to why the model is not valid. This can also serve as "training" a user to make valid models and understanding how to correct them. Ways of communication might be
- having a detailed error message
- a correct example
- a link to a similar example
- a link to documentation
- different coloring of the SAE model

[2018-03-13 16:48] tmushayahama commented on #7
Now can save models

[2018-03-13 16:48] #7 closed

[2018-03-13 17:04] tmushayahama commented on #5
@kltm @thomaspd @cmungall are we doing this for 1.0.

[2018-03-13 17:06] tmushayahama commented on #6
Implemented as start a new model function

[2018-03-13 17:06] #6 closed

[2018-03-13 18:03] thomaspd commented on #5
@vanaukenk do you think this is a feature we should try to add at this point?

[2018-03-13 18:14] vanaukenk commented on #5
@thomaspd - this is definitely a feature curators have asked for (see #17)
Thinking through how this would work in practice - if a curator cloned a version of the data entered into the table, they'd get a new tab (?) with a view of the duplicated annotation in the editor that they could edit and then save to their model.
Perhaps the clone option could also be available from within each box of mole

[2018-03-13 18:32] thomaspd commented on #5
@vanaukenk  - thanks, as Sabrina suggested, this sounds like something to add as an option from the "activity" boxes on the bottom.  It would be cleanest to make a new item "Clone" under the "..." button.  Pressing that button would populate all the fields from that activity into the form.  Would that work?

[2018-03-13 18:33] vanaukenk commented on #5
@thomaspd - yes, I think that would work.  Thx.

[2018-03-13 20:21] kltm commented on #40
@tmushayahama Any models that need to be saved can be downloaded from within the graph editor (Model -> Export OWL) and you can create a PR in noctua-models/dev. E.g:
http://68.181.125.145:8910/download/gomodel:5a98684700000110/owl

[2018-03-14 01:08] tmushayahama commented on #41
@cmungall @kltm from the earlier conversation about groups,

1. Is there a way to attribute (providedBy) on each evidence node when a user is using annotations that are already in the GO database?
2. If(1) then how do I easily get the uri from the group shorthand?

[2018-03-14 01:11] kltm commented on #41
This sounds like:
https://github.com/geneontology/noctua/issues/539#issue-297183549
https://github.com/geneontology/noctua/issues/458#issuecomment-369333576

I believe the current function companion technically accomplishes your 1 (and maybe 2), but I think we want to revisit if that is really what we want to do. As well, we should not have independent implementations of this translation.

[2018-03-14 18:23] thomaspd opened #42 "Option for another level of CC nesting"
From @vanaukenk @krchristie - Sometimes a curator will want two levels of CC nesting, e.g.
MF occurs_in CC1 part_of CC2 (optionally with part_of CL, part_of Uberon/anatomy)

Suggestion would be to add another option under the "..." button on the CC line (in both the "Default" and "CC only" forms), with a pop-up where someone can add a second CC annotation

[2018-03-14 18:50] thomaspd commented on #38
If I understand correctly, it would be good to have a visual cue showing that there is more than one piece of evidence for a triple.  Would it be possible to add a small text button next to the word "Evidence" that says "See all evidence", whenever there are multiple pieces of evidence.  Clicking on the button would bring up the pop-up the same way as choosing "More evidence" already does.

[2018-03-14 18:54] thomaspd commented on #37
This looks like the same basic issue as #32 . @cmungall can you also address this one?  @tmushayahama, for both of these when you are reading the graph to populate the SAE form and check validity, you'll need to recognize additional prefixes (EMAPA and WBbt) as valid anatomy terms, just like UBERON.

[2018-03-14 18:55] thomaspd commented on #30
@vanaukenk - can this be closed now?

[2018-03-14 18:57] thomaspd commented on #27
@cmungall - do we have the new RO ids for these terms, and their cognate process-process relations?

[2018-03-14 19:47] tmushayahama commented on #42
@thomaspd by 2 levels do you mean skipping CC? Where is the second CC annotation?

[2018-03-14 19:50] cmungall commented on #27
Yes, these are in RO,

 * [RO:0002263](http://purl.obolibrary.org/obo/RO_0002263) ! acts upstream of
 * [RO:0002331](http://purl.obolibrary.org/obo/RO_0002331) ! involved in
 * [RO:0002428](http://purl.obolibrary.org/obo/RO_0002428) ! involved in regulation of
 * [RO:0002429](http://purl.obolibrary.org/obo/RO_0002429) ! involved in positive regulation of
 * [RO:0002430](http://purl.obolibrary.org/

[2018-03-14 19:55] thomaspd commented on #42
No, I mean adding another part_of CC line, kind of like what we're doing now for BP (where BP1 part_of BP2 part_of BP3).  So there would be a second CC (CC2), linked to the first one (CC1, the one currently in the form) with part_of.

But I thought that since it's not a very common workflow, instead of adding another line to the form for CC2, we'd have a popup instead.

[2018-03-14 20:13] tmushayahama commented on #42
@thomaspd So something like below (I was using cc1 for CL and CC2 for UB, that is why I got confused). Number of dashes represents nesting level, and the **bold** will be optional

MF
-CC
**--CC1
---CC2**
--CL
---UB
-

[2018-03-14 20:17] thomaspd commented on #42
Just one more level of CC (CC2):
MF
-CC
--CC2
---CL
----UB

[2018-03-14 20:22] tmushayahama commented on #42
@thomaspd now I see. thanks. I will put it quickly, however the only challenge will be to read the activity (error message). It will say "wrong ontology, CC, expecting CL." on node CC1

[2018-03-14 20:35] cmungall commented on #37
These two are different. #32 is dependent on me merging in the uberon-to-wbbt bridge, which will done after validation.

We already have uberon-bridge-to-emapa.owl merged in, which means that mapped EMAPA classes will show up as subclasses of uberon anatomical entity. I confirmed this:

http://noctua-golr.berkeleybop.org/select?q=bronchus&defType=edismax&qt=standard&indent=on&wt=json&rows=10&start

[2018-03-14 20:41] thomaspd commented on #42
Yes, that's right.  You'll need to allow CC part_of CC, in addition to CC part of CL or CC part of UB

[2018-03-15 01:50] cmungall commented on #42
Are we expecting fixed levels? I think all but the first CC should be optional.

E.g.

 * CC-CL: an `axon` that is part of a `neuron`
 * CC-CL-AN: an `axon` that is part of a `neuron` that is part-of a 'hippocampus`
 * CC-CC2-CL: an `axoneme` that is part of a `motile-cilium` that is part of a `respiratory epithelial cell`
 * CC-CC2-CL-AN: an `axoneme` that is part of a `motile-cilium` that is par

[2018-03-15 04:27] tmushayahama commented on #42
@thomaspd any comment on the above.

[2018-03-15 17:14] thomaspd commented on #42
@cmungall - No need to worry, the levels above are not fixed.  The levels I put in were just to illustrate the maximally nested case (number 4 in your list), using the terminology familiar to Tremayne.  We already allow (and will continue to allow) missing fields, and the filled in ones will be connected directly to each other.  So all the cases you listed, plus others like CC-AN are also allowed.

[2018-03-15 21:49] tmushayahama commented on #27
@thomaspd I am assuming acts upstream of or within, positive effect will map to directly positively regulates on BP Only?

[2018-03-20 20:50] thomaspd commented on #27
I think RO is still missing:
causally upstream of or within, positive effect
causally upstream of or within, negative effect

Also, since we've got positive and negative effect for all of these, for completeness (so we don't lose the effect direction when we increase the specificity) do we also want:
part of, negative effect
part of, positive effect

[2018-03-20 20:57] krchristie commented on #42
I think it is a great idea to be able to put in another level of CC nesting. I'm not even sure I'd say it's a rare workflow. My perception is that I do it frequently.

It is less common for me to nest two anatomy terms. I can't even think of an example when I've done this. I do frequently use both a CL term and an anatomy term, but I can' think when I've used two anatomy terms.

But if we are maki

[2018-03-20 21:02] thomaspd commented on #42
Thanks Karen, sounds good.  We'll put another level of CC nesting in the form by default.

[2018-03-20 21:02] krchristie commented on #42
It doesn't have to be default, as long as it's easy to add the extra level when needed.

[2018-03-20 22:10] krchristie opened #43 "curator friendly view of annotations that have been entered"
Kimberly and I are finding the view of annotations in the SAE to be unintuitive and cumbersome to use.

There are some features that are really great, like highlighting where there are errors and providing a message about what is wrong.

However, the current view, which highlights the molecular function, rather than the gene, makes it much harder to identify the annotation you want to check. It is

[2018-03-21 16:15] krchristie commented on #43
I want to add a little more info about the paper (PMID:26909801) I was trying to curate that I used for the screenshots included above (both the SAE and the P2GO screenshots). I started trying to actually curate this paper in Noctua, generating this model, where the SAE shows BOTH of the CC terms I want since it thought the first one was a BP term.
http://noctua.berkeleybop.org/editor/graph/gomode

[2018-03-22 00:25] cmungall commented on #27
we have these:

https://www.ebi.ac.uk/ols/ontologies/ro/properties?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FRO_0002304
https://www.ebi.ac.uk/ols/ontologies/ro/properties?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FRO_0002305

note these are occurrent-occurrent relations

we do not have these:

[2018-03-22 12:51] vanaukenk commented on #27
@thomaspd

part of, negative effect
part of, positive effect

is the intent that these would be available for curators to use in their models?  If so, do you have examples in mind that we could add to the documentation?

And yes, for the graphical editor, we will still need:

causally upstream of or within, positive effect
causally upstream of or within, negative effect

[2018-03-22 19:02] thomaspd commented on #43
suggest changing text "COMPONENTS IN THE MODEL" to "CC ONLY ANNOTATIONS"

[2018-03-22 21:50] tmushayahama commented on #43
@krchristie @vanaukenk @thomaspd  the curator friendly view of annotations is now the table representation (picture below). Included is all of the above suggestions, a combination of P2GO and the old SAE. Let me know what you think and if additional columns are needed. The demo is on the http://68.181.125.145:8910/ server

![image](https://user-images.githubusercontent.com/2273929/37798707-c8666d9

[2018-03-27 16:45] krchristie commented on #43
Thanks for starting work on this so quickly! It's a good start, but I have some comments that to incorporate the features of P2GO and the existing tabular form in the SAE for the "live" Noctua that MGI gets some annotations from.

1. **Show everything without needing to click or scroll side to side** -  I want a view where I an see everything without having to scroll side to side or click to open

[2018-03-28 17:17] krchristie opened #44 "link in SAE to get to graphical editor of same model"
This wasn't really necessary in the older version of Noctua since you had to go back up to the top level to start a new model anyway.

However, now that you can start a new model from the SAE, I find it really frustrating that I can not easily get from the SAE to the graphical editor for the model I am currently entering annotations on. I would really like to be able to open the corresponding grap

[2018-03-28 17:44] krchristie opened #45 "SAE should not allow save without all evidence present"
The SAE should not allow me to save an annoton that doesn't have all of the appropriate evidence. It let me save this:

![20180328-newannotonsae](https://user-images.githubusercontent.com/10533218/38046437-8fe60d1e-3274-11e8-87ff-87b2056252bf.jpg)

I had entered the two BP rows first, and the save button was not active. Once I entered the "molecular_function" term into the MF section, the Save but

[2018-03-28 17:55] krchristie commented on #43
This model:

http://68.181.125.145:8910/workbench/simple-annoton-editor/?model_id=gomodel:5ab581e800000496

highlights another issue of the Table View of the annotations entered in the SAE.

It is only showing the annotations for Ift88 that I entered via the Default form (despite the fact that the lack of evidence on the MF term means that these annotations are missing from the Annotation Preview

[2018-03-28 18:20] krchristie opened #46 "easier way? for curators to enter annoton without a function"
I was thinking that it might be simpler and _more_ intuitive for curators if there was just a checkbox in the MF section to indicate "no MF to enter" rather than having those options hidden in the menu on the side.

In addition, right now, the other options are:
- Default
- CC only
- BP only

But what about this kind of case, where I have BP terms, CC terms, a cell type, and an anatomy term, but n

[2018-03-28 18:44] krchristie opened #47 "table view doesn't play well with "START NEW MODEL""
The Table View does NOT clear when you click "START NEW MODEL".  Here's the view right after clicking the Start New Model button:

![tableviewnotcleareduponstartnewmodel](https://user-images.githubusercontent.com/10533218/38049296-b32a714a-327c-11e8-8f20-6121b6a66c8e.jpg)

If you then proceed to fill in the Annoton form, the SAVE button will become active, but you will not be allowed to save, like

[2018-03-28 20:59] tmushayahama commented on #45
@krchristie If it is a root node (molecular_function for MF, biological_process for BP or cellular_component for CC), currently SAE will loosen up and make the evidence not required. So in this case 'molecular_function (GO:0003674)' is a root node
@pgaudet @vanaukenk @thomaspd. @ukemi I remember discussing about **not** putting evidence GO_REF:0000015 ("no biological data found used in manual asse

[2018-03-28 22:33] krchristie commented on #45
I do remember discussing that the SAE should allow putting in the root MF without filling in the evidence field, and that would be great. Actually, I thought that it was going to assume the same experimental evidence for the other rows in the annoton  (which thinking it through I realize might only work if all rows in the annoton had the same evidence, which is often but not always true). In previ

[2018-03-29 19:37] tmushayahama commented on #42
Will close this. nested view has been added

[2018-03-29 19:37] #42 closed

[2018-03-29 19:39] tmushayahama commented on #40
I can close this for now

[2018-03-29 19:39] #40 closed

[2018-03-29 19:42] #30 closed

[2018-03-29 19:43] #5 closed

[2018-03-29 22:01] krchristie commented on #47
I'm not seeing this yet. Do I need to refresh something, or wait till tomorrow?

[2018-03-29 22:10] tmushayahama commented on #47
@krchristie yes, refresh the page. It is working now

[2018-03-29 22:38] tmushayahama commented on #5
How to Clone/Prepopulate

Below are the 2 methods to clone, I would say "populating the form". Since you cannot edit the model once created, the values are just prepopulated on the form and a user has to manually save it
@pgaudet @thomaspd @vanaukenk @suzialeksander @krchristie let me know if both methods are intuitive and also to give the functionality a proper verb, clone, populate, fill

**Meth

[2018-04-02 14:16] vanaukenk commented on #46
I agree that 'Default' is not very informative for curators, but I think there's more happening with the different forms than just MF or no MF and wonder if there's a succinct way to capture that with the different names for the forms.

How about something like this:
MF, BP, CC (enables, involved in, occurs in)
BP (other causal relation)
CC (part of)

However, this makes me wonder if we should act

[2018-04-02 14:49] vanaukenk commented on #45
A couple of thoughts on this:

1) In principle, I think we should always have evidence on an annotation statement, so we should not create MF root node annotations without evidence anywhere in Noctua.

2) For the cases where we need to create an MF root node annotation for completion (i.e. not the conventional ND type of MF), it makes most sense to me to use the same reference and evidence code as

[2018-04-02 14:56] ukemi commented on #45
I agree. It does require some reeducation of curators in that if they only want to make an annotation to BP, they have to realize that this means the protein has some MF. The evidence on the anonymous MF should be the same as on the BP. These anonymous annotations should not be output to the GPAD. An annotation to only the root MF should follow our conventional requirements where the evidence is N

[2018-04-02 15:03] vanaukenk commented on #45
Okay, thanks @ukemi
Yes, checking on other tickets, it looks like this is in place:
https://github.com/geneontology/minerva/issues/154
https://github.com/geneontology/minerva/pull/130/files

[2018-04-02 15:06] balhoff commented on #45
@ukemi yes that's true, however if a more specific MF for that node can be inferred then it will be output.

[2018-04-02 15:11] ukemi commented on #45
If a more specific annotation can be inferred, it should not have an ND evidence code. Do we have examples of that. We need to have a check where that won't happen.

[2018-04-02 15:16] vanaukenk commented on #45
Yes, I'm trying to think of, in practice, when that would actually happen.
Regardless, it seems that if that were to happen, it would need to be flagged in the tool so that the curator could check the annotation statements they made and make changes, if needed.

[2018-04-02 15:22] ukemi commented on #45
The only time I can think of it happening is by mistake. For example if some of the terms in the MF refactor are defined as molecular functions that relate to a process, then they could be inferred. But then the evidence would be the same as that for the process. We need to educate curators about this.

[2018-04-02 15:31] vanaukenk commented on #45
Yes, I agree; I think this would likely happen by mistake and thus the curator would need to revisit the model and make modifications.

[2018-04-02 17:04] vanaukenk commented on #43
@krchristie
Looking at the table view again, I am wondering if having a view like the Annotation Preview would work here.
The version on the table editor wouldn't contain all of the inferred annotations, but it would show everything that's been entered via the table in roughly the same format.

[2018-04-02 22:24] tmushayahama commented on #25
@vanaukenk pasting values is now working. I just put a minimum of 2 characters for the autocomplete to be triggered.

[2018-04-02 22:24] #25 closed

[2018-04-02 22:52] krchristie opened #48 "error about missing gene product even when I've autocompleted one by hitting return"
When I type in something like "Bbs2 Mm" into the Gene Product field, and then hit return because it is the first choice in the list, it fills in the appropriate gene symbol, species, and ID into the Gene Product field. However, the SAE form does not seem to recognize the fact that the field is filled because even after I enter a minimum amount of information that should activate the SAVE button, i

[2018-04-02 22:59] krchristie opened #49 "switching Annoton forms should warn you if it will clear info that is already filled in"
If you fill in the DEFAULT template with more than one BP term, and then switch to the BP ONLY template because you realize that you do not have a known MF to enter, only BP info, it loses everything except the 1st BP term.

It seems that it should warn you that switching templates will lose info that has been entered.

[2018-04-02 23:13] krchristie commented on #46
One thing that I'm trying to get at is that right now is that there isn't a template that allows BP _AND_ CC without entering MF. So, I think that a BP+CC (aka no MF) template would be easier and more useful than having the two individual templates for BP only and CC only. Since the current BP only template only allows 1 BP at a time, it is not useful for the scenario in the screenshot above where

[2018-04-03 00:39] krchristie commented on #45
What the DEFAULT template is doing now is that it let me put in the root MF term without evidence and didn't assume the experimental evidence that was on the BP term. I thought we had agreed that if you didn't fill in the MF term (as in didn't even fill in the MF term blank), you would be allowed to save with the evidence assumed to be the same as that for the BP term.

What the CC ONLY template i

[2018-04-03 03:54] #37 closed

[2018-04-03 03:57] tmushayahama commented on #37
can you double check on this one.

[2018-04-03 04:27] tmushayahama opened #50 "To use bbop_managers for handling communication and callbacks"
@kltm @cmungall In the process of converting "object" built requests to using bbop_managers for handling requests. I blindly did the setup according to docs, but I get a CORS error

![image](https://user-images.githubusercontent.com/2273929/38228678-96b2c4c2-36b9-11e8-94e5-40f5a110ef3b.png)

Further screenshots and code will appear, if needed, but a quick glance, it seems like json.wrf query param

[2018-04-03 04:53] tmushayahama commented on #26
@vanaukenk now working. Special characters are now treated as text. Also worked on the autocomplete various unresponsiveness issues including pasting of values (https://github.com/geneontology/simple-annoton-editor/issues/25) and trimming whitespaces values.
However, @kltm I have opened this issue (https://github.com/geneontology/simple-annoton-editor/issues/50)  so that I can using the manager qu

[2018-04-03 04:53] #26 closed

[2018-04-03 16:43] krchristie commented on #37
Well, it isn't throwing an error about an EMAPA term anymore, but this isn't working right either.

Here is what I entered:

![ccfullentryformw-emapa](https://user-images.githubusercontent.com/10533218/38262823-34ed7f4c-3723-11e8-9cbb-ef231a5e04c5.jpg)

Here is what it saved:

![savedfrom-ccfullentryformw-emapa](https://user-images.githubusercontent.com/10533218/38262854-3d0ad17a-3723-11e8-986e-91

[2018-04-03 18:28] krchristie commented on #37
Also, while the autocomplete on an EMAPA term works **_IF_** the correct term shows up, I could not get the term I wanted to show up in the autocomplete list.

I wanted the term "**trachea**" (EMAPA:16853), but when I used "trachea " (note presence of space after word), I got this:
![trachea-autocomplete](https://user-images.githubusercontent.com/10533218/38268058-0b08418a-3732-11e8-8a82-f19485ba3

[2018-04-03 19:53] krchristie commented on #43
@vanaukenk - I think that although the Annotation Preview is a great way to see what the GPAD is going to look like, it isn't what I want here. I really liked the Annoton view Seth has in the http://noctua.berkeleybop.org/ version of Noctua, except that it leaves out the extensions. I think it is very useful to see the things you've entered together in a group, and the Annotation Preview doesn't d

[2018-04-04 17:51] kltm commented on #50
@tmushayahama I'm honestly not even sure the managers are designed to emit quite what you want; the unit tests should be checked. As well, I'm not entirely sure what your process is for making strings, then decoposing them again it to get through any limits that might be hit with GET limits (although that might not be an issue in this case).
I believe that the server should be setup to use CORS, w

[2018-04-06 17:11] tmushayahama commented on #38
If there is more than one evidence a "+n evidence" button will show as  below

![image](https://user-images.githubusercontent.com/2273929/38434157-408e3826-3982-11e8-861e-8e5296ced242.png)

Clicking this button will take you to the all evidence page where you can add or remove

@vanaukenk any suggestions on this one.

[2018-04-06 17:11] #38 closed

[2018-04-10 17:53] vanaukenk opened #51 "Annotating when cellular component is unknown but anatomy or cell type is known"
If a curator has information about the cell type or anatomical structure in which a gene is expressed, but not the subcellular localization, do we want them to be able to annotate this in the SAE?

If so, should this be handled in a similar way as we handle an unknown MF, i.e. we populate the root CC node using evidence supporting the cell or anatomical term annotation?

This would allow filtering

[2018-04-10 17:59] vanaukenk opened #52 "Remove asterisk after adding required field (reference)"
Once a curator has added a reference to that required field, for clarity, the asterisk should go away so the curator knows the information has been entered correctly.

[2018-04-10 18:12] vanaukenk opened #53 "Searching ontology synonyms"
It would be helpful if the GO term autocomplete allowed for searching on synonyms.

The display would include both the main term name and the synonym, perhaps something like this if the curator searched for 'receptor binding':

GO:0005102 signaling receptor binding (syn: receptor binding)

This is a more general issue and may relate to this ticket here:
https://github.com/geneontology/noctua/issue

[2018-04-10 18:24] vanaukenk opened #54 "Populate Assigned By field in table view"
Please add the corresponding group to the Assigned By field of the table view.

[2018-04-10 18:54] #24 closed

[2018-04-11 16:09] vanaukenk opened #55 "Add clone evidence functionality"
To make adding evidence easier and faster, we would like to have the ability to clone existing evidence from a model.

This functionality would be an option in the right hand list and would present curators with a list of existing evidence codes, references, and With/From values where curators could select what they want to clone and add to their model.

@tmushayahama  - see the 'Clone other' feat

[2018-04-11 16:13] tmushayahama commented on #43
@krchristie SAE (or now Activity Creator Form) table has been improved. Let me know if it now curator friendly
![image](https://user-images.githubusercontent.com/2273929/38628906-68965f86-3d67-11e8-83eb-5c3c25191ba5.png)

Now you can see

- CC Only,
- errors (just like the old view), click the triangle danger sign to see the error
- Brushing up on the ... button. It will be a more options dropdown

[2018-04-13 17:40] tmushayahama commented on #55
To Clone

Click the more options and click clone evidence
![image](https://user-images.githubusercontent.com/2273929/38749392-4a854372-3f06-11e8-95ad-4bd618336928.png)

Select one or more evidence from the list. The recent evidence appears on top and there will be no duplicate of (evidence, reference and with) combination on the list
![image](https://user-images.githubusercontent.com/2273929/38749

[2018-04-13 17:40] #55 closed

[2018-04-13 17:45] tmushayahama commented on #54
Assigned By now appearing, with a clickable link

![image](https://user-images.githubusercontent.com/2273929/38749773-b3c0506a-3f07-11e8-89a2-80e7b9abacc9.png)

[2018-04-13 17:45] #54 closed

[2018-04-13 17:47] tmushayahama commented on #53
@cmungall @kltm @thomaspd any comment on this?

[2018-04-13 17:59] tmushayahama commented on #44
To go to graphical editor and other conveniences, click view and click link. A new tab will appear

![image](https://user-images.githubusercontent.com/2273929/38750356-87228b84-3f09-11e8-8792-d09416ab0b69.png)

[2018-04-13 17:59] #44 closed

[2018-04-13 18:07] tmushayahama commented on #45
@vanaukenk @krchristie this issue has been resolved. However for easier future track, let's edit the title so it reflects "Root Node" evidence as per this above comment https://github.com/geneontology/simple-annoton-editor/issues/45#issuecomment-377034555

[2018-04-13 18:07] #45 closed

[2018-04-13 21:35] krchristie commented on #43
@tmushayahama - This is really looking good :)  Sorry a little slow to get to this. I had a 48 hour deadline to correct proofs for a publication earlier this week.

1. I was originally thinking that all of the GO terms should be in columns 2-4. In a model I am looking at now, I am seeing that when there are two BP or CC terms, the second BP or CC shows up in columns 4-5 [Relationship(ext) and Exte

[2018-04-13 21:47] krchristie commented on #44
Thanks!

[2018-04-16 13:27] vanaukenk opened #56 "Display user group parenthetically like the graph editor"
The graph editor displays the selected user group parenthetically to the right of the user name.

This is a good reminder to curators as to what group they are currently annotating for.

Can the display of groups be made the same in the SAE?

Thx.

[2018-04-16 13:57] vanaukenk opened #57 "String added to With/From field in summary table even when nothing entered in the form"
The summary view at the bottom added a string to the With/From field for a BP annotation even when I didn't enter anything in the form for that field.  See the second line in the table:

![image](https://user-images.githubusercontent.com/1730534/38813279-837c0ba4-415c-11e8-84c4-b0d1167c7a3a.png)

[2018-04-16 14:08] vanaukenk commented on #27
The BP only version of the form is currently not allowing me to save a BP annotation and the error message says:
Molecular Function: No evidence for 'Molecular Function'

[2018-04-16 17:32] tmushayahama commented on #43
@krchristie in SAE, an extension is something not the MF, first BP or first CC. any nested term from this is considered as an extension. It came from this https://github.com/geneontology/simple-annoton-editor/issues/12

For enabled_by, I can put 'enables' instead.

Any comment on this @thomaspd @vanaukenk

[2018-04-16 17:46] tmushayahama commented on #56
@vanaukenk

I can put it there, but originally it was put here (pic below) as it showed it was affecting only the form being currently created and not the table view of already created models.
![image](https://user-images.githubusercontent.com/2273929/38825571-e62b7e6a-4161-11e8-8360-ad3f1d048609.png)
Let me know what you think. I can put on both or remove it on the form..

[2018-04-16 17:54] vanaukenk commented on #43
@krchristie @tmushayahama @thomaspd

Yes, we had debated about exactly what relations to show in the summary view.  Right now, the relations are the same as what is shown in the graph view, i.e. the MF is enabled_by an entity, that MF is part_of a BP, and occurs_in a CC.
I think this does get confusing to curators, but if we switch the relations to use the gene product-to-term relations we would t

[2018-04-16 18:04] tmushayahama commented on #57
@vanaukenk @krchristie  ohh I published that code by mistake (was experimenting). But eventually it will solve this ambiguous  problem

![image](https://user-images.githubusercontent.com/2273929/38826392-7e0e62d6-4164-11e8-9f0a-87262600af08.png)

In this case we don't know which entity is being annotated for cholesterol homeostasis. So we were gonna use with field to store gomodel id value for ann

[2018-04-16 18:37] vanaukenk commented on #56
Thanks @tmushayahama
Maybe having it on both would be best.  I like the visual cue next to the curator name, but I don't think we need to also take it off the form.

[2018-04-16 18:42] vanaukenk commented on #43
Okay, let's see if we can schedule it for later in the day.
@tmushayahama @lpalbou @thomaspd
Would 11:30am PDT tomorrow work?
I'll email Suzi A.

[2018-04-16 18:49] tmushayahama commented on #43
@vanaukenk we have a group meeting at 1PM (PST), so we can have it on 11: 15AM (PST)

[2018-04-16 20:59] kltm commented on #53
This is supported by the backend. The issue is likely with the hard-coded queries in the code that you inherited.

[2018-04-16 22:59] tmushayahama commented on #53
@kltm the graph doesn't do it either

[2018-04-16 23:07] kltm commented on #53
It is in AmiGO and AFAICT it works in Noctua too, at least in some cases.
"Cajal body" (http://amigo.geneontology.org/amigo/term/GO:0015030) can be found in the "Add individual" autocomplete with the synonym "Gems". Similarly in the "Add annoton" cellular_component autocomplete.

[2018-04-16 23:35] thomaspd commented on #53
From the curators, was the request for synonyms for ontology terms, or was it for gene name synonyms?  I think it might be for gene names/symbols.

[2018-04-17 00:26] vanaukenk commented on #53
The original request was for ontology term synonyms.
In Seth's case of searching on 'Gems' the 'Cajal body' synonym is found in the form, the graph, and AmiGO.
In the use case that led to this ticket, though, we were searching with 'receptor binding' which didn't get us to 'signaling receptor binding' but maybe this is because the list of terms that contains the 'receptor binding' string in name,

[2018-04-17 19:29] krchristie commented on #43
As discussed in our call today (@vanaukenk @tmushayahama), we would like to add a column in the SAE Table View for the annotation date.

[2018-04-17 19:53] krchristie commented on #56
The SAE also needs to recognize when a user has more than one group in the YAML file. I have two groups, "MGI" and "GO Central". In the graph editor, you can see both when I click on my groups with tick boxes to change the selection.
![20180417-graphgrouppulldown](https://user-images.githubusercontent.com/10533218/38893064-110726e8-423e-11e8-8bf3-e365309416ed.jpg)

However, in the SAE, when I clic

[2018-04-17 20:04] krchristie commented on #43
Here's the summary of the things we agreed to do based on Karen's comments
This was our model to discuss these issues: http://68.181.125.145:8910/workbench/simple-annoton-editor/?model_id=gomodel:5a7e68a100000324

1. When there is a second CC term (look at the '9+2 motile cilium' CC term in either the Dnah2 or Dnah7c annotons), in the table in the SAE, the relationship in the Relationship(Ext) col

[2018-04-17 21:29] krchristie commented on #43
With respect to #2 above, we also discussed modifying the column header slightly to say "Relationship (to MF)". I think this would help to educate/remind curators what the relationship in this column are, but I am not sure if we agreed to do this.

[2018-04-18 14:32] vanaukenk commented on #43
@krchristie  - for the column header, do you mean the second column currently titled "Relationship"?
If so, I think we may need to stick to the more generic "Relationship" so that annotation relations from the CC only form also make sense.

[2018-04-18 15:12] krchristie commented on #43
@vanaukenk - No, I think that the second relationship column, which is titled "Relationship(ext)" is good as is.

I was wondering if changing the title of the first relationship column, the one between Annotated Entity and Aspect from "Relationship" to "Relationship (to MF)" would help remind and educate curators that this is the relationship to the MF term, not to the GP.

[2018-04-18 21:27] krchristie opened #58 "better error messages"
It's really great that the error messages are now showing up in the Table view of the SAE.

I think that we need to work on making the error messages more comprehensible to curators, and maybe also thinking through what the likely error really was.

Here is a pair of errors I am seeing today, first the annoton with two rows highlighted, and then each of the two error messages when I click the excl

[2018-04-18 21:30] krchristie commented on #43
As I mentioned in https://github.com/geneontology/simple-annoton-editor/issues/58, I think that it is misleading for the Table view to assume the aspect of the term based on the relationship used. I think it would be more obvious what is going on if the Table view showed the actual aspect of the term that is present in the row.

[2018-04-18 22:26] krchristie commented on #43
It would be really helpful to curators if the With column in the Table view translated the entities in the with column into "term name (ID)" similarly to how it is done in the Annotated Entity column. I realize that the With column has additional types of entities than the Annotated Entity column, so there might be some IDs that we might not currently have the info to translate (e.g. MGI allele ID

[2018-04-19 18:46] tmushayahama commented on #43
Here is the improved table according to https://github.com/geneontology/simple-annoton-editor/issues/43#issuecomment-382124338 + "Relationship (to MF)" column
![image](https://user-images.githubusercontent.com/2273929/39010058-499f4b4a-43c2-11e8-83f6-6b79d671dc9a.png)

'enabled by' in Annotated Entity column should have a distinct look so that gp stands out. So I just faded it a lil bit, but let m

[2018-04-19 19:05] krchristie commented on #43
**1. On visualing annotons** - I really like the gray bars between annotons and think that might be sufficient to distinguish annotons without using the alternating shading.

**2. On the position of the "enabled by" relationship** - I also really like the way you have currently implemented the position of the "enabled by" relationship within the Annotated Entity cell a lot. Reducing the size of "e

[2018-04-21 00:57] krchristie commented on #58
Here's another example of an error that I think is not telling the curator something useful and is also interfering with something I want to say.

In this model: http://68.181.125.145:8910/editor/graph/gomodel:5ac3d47600001213
I entered two annotons via the DEFAULT template, and then, using the graph editor, I connected a BP term to a cell type (CL) term within each annoton because I actually want

[2018-04-21 01:03] cmungall commented on #58
On 20 Apr 2018, at 17:57, Karen R Christie wrote:

You are correct, this seems like a bug.

[2018-04-24 16:58] #57 closed

[2018-04-25 15:30] krchristie opened #59 "inappropriate autofill behavior when switching from "BP only" to "DEFAULT" template"
I think this behavior when switching from the BPonly to the DEFAULT templates is not what we want.

Here I have filled in a BP only template:
![20180425-fillinginbponly](https://user-images.githubusercontent.com/10533218/39255171-bfa785bc-4860-11e8-9dee-24b482047ccd.jpg)

If I then switch to the DEFAULT template, it autofills in the root MF with ND:
![20180425-defaultafterbponly](https://user-imag

[2018-04-25 18:10] krchristie opened #60 "behavior of DEFAULT annoton form when CC not filled in"
The DEFAULT form does not seem to be doing the right thing when you have cell type and anatomy context information, but no actual CC term.

In this model, I have tried several times to enter this type of situation using the DEFAULT form (and NOT modifying anything via the graph editor), and none of them have resulted in what I think they should have.
http://68.181.125.145:8910/workbench/simple-ann

[2018-04-25 23:03] krchristie commented on #60
The error messages shown in the SAE Table View screenshot above are similar to some I have already described in https://github.com/geneontology/simple-annoton-editor/issues/58, where the error message is inaccurate due to incorrectly assuming what kind of term is present. In this case though, all of these CL and EMAPA terms were entered in the correct locations within the DEFAULT form and appear t

[2018-04-25 23:18] krchristie opened #61 "BP only template - issue with Table View"
When I enter a BP annotation via the BP only template, the BP term does not show up in the Table View, see:  http://68.181.125.145:8910/workbench/simple-annoton-editor/?model_id=gomodel:5ac3d47600001521

[2018-04-26 00:37] vanaukenk commented on #61
I just tried this using the acts upstream of or within relation, and I see an annotation to the root MF node with the evidence for the BP annotation, but no BP term listed.  See the top line here with the annotation to fat-5:

![image](https://user-images.githubusercontent.com/1730534/39279627-37860f2e-48c8-11e8-82f0-448e09015b71.png)

I would also expect to see a line with the acts upstream of or

[2018-04-26 17:15] krchristie commented on #61
@vanaukenk - yes, I am seeing the same behavior. Apologies that the model url I pasted in went to the wrong model. I didn't have time to do screenshots, so I thought the link would be sufficient... I had used the 'START NEW MODEL' button and it looks like the url does not update to that of the new model. I have edited the original comment to go to the correct model now.

[2018-04-26 18:49] krchristie opened #62 ""more evidence" & "clone evidence" popups don't handle with info properly"
1. I entered a BP annotation that included an allele ID:
![20180426-1-enteringimpwallele](https://user-images.githubusercontent.com/10533218/39323195-bc244c3c-4940-11e8-9dfe-55f5058c2475.jpg)

2. I opened the More Evidence popup to enter a second line of evidence. Despite having entered an allele ID, it is displayed as blank in this popup:
![20180426-2-enteringmoreev](https://user-images.githubuse

[2018-04-26 19:46] vanaukenk commented on #58
First error message should be changed to:
"Incorrect association between term and relationship."

[2018-04-26 20:44] vanaukenk opened #63 "With/From field needs to allow for multiple entries"
Curators may need to enter multiple values in the With/From field.
These values may be either comma- or pipe-separated.
Maintaining the comma or pipe is essential for correctly interpreting the meaning of the entry, i.e. treat the entries as text and copy exactly how the curator enters the value(s).
In either case, if there is more than one With/From value, all values should appear in the same lin

[2018-04-26 22:32] raymond91125 commented on #32
Is there anything more I need/could do from the Worm Anatomy side to help getting WBbt in?

[2018-04-30 06:15] #43 closed

[2018-04-30 20:01] tmushayahama commented on #51
@vanaukenk @krchristie Can you check if all the skip combinations are working for both default and ccOnly

[2018-04-30 20:04] tmushayahama commented on #63
Added the with as a string. So far no validations

[2018-04-30 20:04] #63 closed

[2018-04-30 20:11] tmushayahama commented on #60
@vanaukenk @krchristie I have fixed the "if component skipped" part  https://github.com/geneontology/simple-annoton-editor/issues/51 and the error message will continue ithere https://github.com/geneontology/simple-annoton-editor/issues/58

[2018-04-30 20:11] #60 closed

[2018-04-30 22:34] vanaukenk commented on #63
Thanks @tmushayahama
I've tested two WB entries and they look okay.

[2018-04-30 22:51] vanaukenk commented on #51
@tmushayahama
I can now skip individual CC fields in the default editor and it will allow me to enter the annoton, and the display is correct in the graph editor.
However, I still get an error message in the summary table when I just enter one GO term and then a cell type.  It seems the summary table is still expecting the first entry below the CC term to be another CC term.  Are you still working

[2018-05-01 19:43] #46 closed

[2018-05-03 19:00] vanaukenk opened #64 "Clone evidence option should require evidence code and reference before populating list"
It is currently possible to enter an evidence code with no reference and have that option show up in the list of possible evidence to clone.

I found this out by entering an evidence code and then remembering that I could just clone the evidence.

Without removing the original evidence code, I went to the clone evidence list and now had two entries to choose from, one with the paper reference and

[2018-05-03 19:17] vanaukenk commented on #58
An example of a new suggestion for the error message:

Incorrect association between 'lipid transporter activity' and 'lipid transport'

Then the image would show the graph view of the triple.

[2018-05-07 16:58] tmushayahama commented on #61
@krchristie @vanaukenk can you check this plus its error message

[2018-05-07 18:02] vanaukenk commented on #61
Thanks, @tmushayahama .
I now see both the root molecular function annotation as well as the BP in the summary view.  However, I think we want to be consistent and make sure that the relation listed with the BP uses the correct relation between the MF and the BP (not between the gene product and the BP) which will be the same relation that is seen in the graph editor, e.g. causally upstream of or

[2018-05-07 18:06] vanaukenk opened #65 "C. elegans gene names are now hidden by a URL in autocomplete"
When trying to autocomplete on a C. elegans gene name, the gene name is now hidden by the identifier URL:

![image](https://user-images.githubusercontent.com/1730534/39716843-74a05578-51ff-11e8-93fd-a0a4895bd3ae.png)

[2018-05-07 21:28] krchristie commented on #61
It looks like @tmushayahama has already responded to the previous comment by @vanaukenk to show the relationship between the MF and the BP, because I now see this:
![20180507-bponly-sae-tv](https://user-images.githubusercontent.com/10533218/39725587-2fc9cc98-5201-11e8-8ece-b4459bfdb5c5.jpg)

which is consistent with the graph:
![20180507-bponly-graph](https://user-images.githubusercontent.com/1053

[2018-05-07 21:55] krchristie opened #66 "issues with new format of gene identifiers"
Hi,

I noticed that the display of gene product IDs has changed from the way it used to look, which I liked a lot since it displayed the gene name, and then showed the MOD ID, in this case from MGI, parenthetically:
![20180426-6-tableviewshowingmissingalleleid](https://user-images.githubusercontent.com/10533218/39726850-4a4a370c-5205-11e8-99ea-1285fff66605.jpg)

However, today, when entering new a

[2018-05-07 22:35] krchristie commented on #51
I've just tried three different annotons, in this model:
http://68.181.125.145:8910/workbench/simple-annoton-editor/?model_id=gomodel:5ae3d45e00001425

They all look good to me, both in the graph and the SAE Table View. Although I see error colors flash onto the new Table View rows briefly, they disappear after a second or two.

[2018-05-07 22:55] krchristie commented on #59
Sorry so slow to check. Like Kimberly, I will find it helpful if you leave them open after tagging me to check them so that I still see them in the list of Open issues.

I am not sure if this is behaving the way you meant it to because I am not sure exactly what you mean by "no longer copying/saving the added information". Does this mean specifically that it is not saving the MF info that was adde

[2018-05-07 23:15] krchristie commented on #66
Also, this new ID format is too long in the pulldown menu for GPs in the SAE, such that I cannot see the actual gene symbol to even know what I am selecting:

![20180507-newidformat-pulldownmenu](https://user-images.githubusercontent.com/10533218/39729458-c7d11a82-5210-11e8-8d7b-a728d37a2530.jpg)

Obviously, the software people should be deciding what is going on under the hood, but please do not

[2018-05-08 00:16] kltm commented on #66
@krchristie @tmushayahama We're going to try to re-run the autocomplete system now.

[2018-05-08 04:16] kltm commented on #66
I believe this should now be cleared--the load looks good.
@cmungall @yy20716

[2018-05-08 04:16] #66 closed

[2018-05-08 15:49] krchristie commented on #64
I noticed this yesterday and agree that evidence lines shouldn't show up in the clone options unless they are complete. I did exactly the same thing Kimberly did, where I had entered an evidence code and then remembered I could clone instead.

[2018-05-08 16:00] krchristie opened #67 "issue when entering an annoton when CL and anat come from evidence for BP, rather than MF"
As demonstrated in this model:
http://68.181.125.145:8910/editor/graph/gomodel:5ae3d45e00000619

we should consider if it is OK to mix multiple lines of evidence in the DEFAULT form.

The annoton entered using the DEFAULT form to say that there is evidence that Snx10 has **some** function that occurs in osteoclast cells that is part_of bone resorption by mutant phenotype evidence is true.

However

[2018-05-08 17:27] vanaukenk opened #68 "Getting error message for correct associations"
Hi,

The new error message text is more helpful, but it looks like I'm now getting an error message for a correct association between a GO MF term and a gene product:

![image](https://user-images.githubusercontent.com/1730534/39772470-5965281e-52c3-11e8-9412-4eaf2c05e188.png)

![image](https://user-images.githubusercontent.com/1730534/39772512-77d928d6-52c3-11e8-80e9-860edcc0b6a0.png)

[2018-05-08 17:49] vanaukenk commented on #51
Yes, this seems to be working well now.  Thx.
One minor issue wrt the table view is that, to be consistent with the MF part of the form that also allows skipping, the different rows should all be left-justified in the CC part of the form.

[2018-05-08 18:37] #51 closed

[2018-05-08 18:56] vanaukenk commented on #64
If the user opens the clone evidence window, whatever evidence exists on the line should be cleared.

[2018-05-08 19:01] vanaukenk commented on #61
Remove 'MF part of' text from the Biological Process line so as not to confuse the statement being made.

[2018-05-08 19:35] vanaukenk commented on #58
Update to 'Incorrect relationship between 'lipid transporter activity' and lipid transport'.'

[2018-05-08 19:44] #56 closed

[2018-05-08 19:45] #53 closed

[2018-05-08 19:49] vanaukenk commented on #52
If evidence is added and the reference goes to grey, that's okay, but if you accidentally start entering information and remove it, then the evidence and/or reference goes to red even if the field is blank.  Curators can still save, but it's confusing to have the red text.

[2018-05-09 00:58] tmushayahama commented on #16
@kltm @lpalbou is this working. This was the issue I wanted to clarify if it is implemented or not

[2018-05-09 16:52] kltm commented on #16
I think I was making an oblique reference to a manager-level API that does not exist for this, but we had talked about.

The class expression operation for working within an individual should be just fine.

Examples:
https://github.com/geneontology/noctua/blob/7c75387b0724bc5be84d096f6b57f401ec93a317/js/lib/noctua-widgetry/widgetry.js#L1336
https://github.com/geneontology/noctua/blob/7c75387b0724b

[2018-05-10 18:18] krchristie commented on #64
This looks good to me. Thanks @tmushayahama

[2018-05-10 18:46] krchristie opened #69 "clicking "START NEW MODEL" leaves original url, instead of changing to reflect new model ID"
This is a little disconcerting if you've been starting new models from the SAE using the START NEW MODEL button, and then want to share one of those subsequent models with another person by copying the url and sending it to them.

Here are the urls:
**of the first model I was on when I opened the SAE:**
http://68.181.125.145:8910/workbench/simple-annoton-editor/?model_id=gomodel:5ae3d45e00001973 &

[2018-05-10 21:47] tmushayahama commented on #69
@kltm what should I do with one? does replacing gmodel id work?

[2018-05-10 21:51] kltm commented on #69
The model id is there for your workbench, to do as is pleases. Depending on how you're running, you may not have access to a new model ID. I would either deprioritize this, as some future update may hide some of that information anyways in some cases, or simply rewrite the URL.

[2018-05-10 23:08] krchristie commented on #61
Removing the MF part_of from this template and expanding it to include CL and anatomy extensions for this template looks great.

However, I continue to think that it is confusing to show one set of relationships, e.g. "acts upstream of or within" (GP -> BP, if I understand correctly) in the selection menu:
![20180510-bponly-entryform](https://user-images.githubusercontent.com/10533218/39898346-26b

[2018-05-13 19:32] vanaukenk commented on #32
@raymond91125
It looks like the old issues are fixed, but two new issues surfaced:
'buccal cavity' and 'intestinal lumen' are unsatisfiable classes.
One solution to fix this is to make the 'C. elegans Cell and Anatomy' equivalent to 'anatomical entity' and ('part of' some Caenorhabditis) rather than 'anatomical structure' and ('part of' some Caenorhabditis)

[2018-05-13 19:40] vanaukenk commented on #32
Note: it would be good to have a regular QC check that the Uberon - WBbt bridge gives no errors.

[2018-05-13 19:51] balhoff commented on #32
The term mapping should be fixed with the next Uberon release.

[2018-05-13 20:33] cmungall commented on #32
Historically we've had Jenkins jobs for individual bridges, e.g.

https://build.berkeleybop.org/job/check-uberon-zfa/

but we never had resources to follow up when we needed changes upstream. We can revisit this.

For now I will put a check in the uberon release process. Perhaps I can coordinate with @raymond91125 on the reciprocal

[2018-05-21 19:43] kltm opened #71 "bug with has_input in form?"
_From @pfey03 on May 21, 2018 16:30_

Hello,
I for the first time used the form to start a model to check it out. But when trying to add an affected gene/protein as has_input, it autofilled 'H2Bv3 Ddis' but wouldn't save (save not active and said the has_input is missing). Then I pasted the gene ID instead and I could save. However, when opening as the model this annotation was missing. I added it

[2018-05-21 19:43] kltm commented on #71
@pfey03
Is it correct to say that this was in the Graph Editor, or the Form interface?

[2018-05-21 19:43] kltm commented on #71
_From @pfey03 on May 21, 2018 18:16_

It was in the form that it didn't take it.
First, with autofill when I added the gene name 'H2Bv3 Ddis', the 'Save' button was not active and it said the has_input entry is missing, though it wasn't. Then I replaced it with our gene ID, but there was no obvious recognition of the ID, but then I could save! However, when opening the annotations in the graph edi

[2018-05-24 18:37] kltm opened #72 "Form view does not correspond to graph editor view -> (ref: gomodel:5ae3b0f600000604)"
_From @BarbaraCzub on May 24, 2018 17:7_

Hi,

I have 5 annotations displayed in the form view:
![screen shot 2018-05-24 at 18 02 06](https://user-images.githubusercontent.com/16541096/40500418-98bdb6a0-5f7c-11e8-8a93-d1f6221c08ea.png)

But only 3 are displayed in the model:
![screen shot 2018-05-24 at 18 02 58](https://user-images.githubusercontent.com/16541096/40500460-b7b6a166-5f7c-11e8-8dcf-00

[2018-05-24 18:37] kltm commented on #72
_From @vanaukenk on May 24, 2018 17:28_

Also, @tmushayahama and @lpalbou are working on adding Delete functionality to the form.  We want to make sure that when curators delete information using the form, the full implications are apparent, i.e. the potential effects on other relations and nodes in a given model.
Does deleting from the graph editor work okay for you in the meantime?

[2018-05-25 13:13] BarbaraCzub commented on #72
Thank you @kltm!

And is there a way to navigate from the graph view directly to the form view?
(In the form view you have the drop down menu, which can be used to navigate to the graph view. But I do not think the opposite is possible?)

[2018-05-25 14:09] vanaukenk commented on #72
@BarbaraCzub
In the graph view, click on the Workbenches menu and then select 'Noctua form' at the very bottom of the list.

[2018-05-25 14:27] vanaukenk opened #73 "Cell and anatomy relations in BP only template are creating incorrect models"
In the BP only version of the form, there are two entries for Cell and Anatomy, both of which use the occurs_in relation.

This is the correct relation to use between a BP term and either a cell or anatomy term, but when the corresponding annotations appear in the graph editor, the cell type is connected to the anatomy term via an 'occurs in' relation which is incorrect.

One possible solution for

[2018-05-25 14:53] BarbaraCzub commented on #72
Thank you!

[2018-05-25 17:35] krchristie commented on #73
When I have both a cell type and an anatomy term, I think I usually want to say that the cell type is 'part_of' the anatomy term. I think Kimberly's proposal would work for me.

[2018-06-08 16:58] vanaukenk opened #74 "BP only form should require BP term before allowing curator to save"
Currently, the BP only version of the form allows curators to save an annotation even if they've only input a gene product name.

The result is an annotation to the root node of MF with no supporting evidence.

The BP only form should require that curators also enter a BP term and evidence before they can save.

Thx.

[2018-06-08 17:20] vanaukenk commented on #27
@tmushayahama - we still need to add the acts upstream of or within, negative effect and acts upstream of or within, positive effect relations to the BP only dropdown.

In the graph editor they will have causally upstream of or within, negative effect and causally upstream of or within, positive effect relations to the MF term.  Thx.

[2018-06-12 14:57] vanaukenk opened #75 "Add relation label to gene product field"
Hi @tmushayahama

I am working on Noctua documentation and in doing so noticed that we don't have a relation for the gene product and MF in the Default form.

Would it be possible to add (MF enabled by) to the right of Gene Product in the Gene Product field?

I think that would complete the relations for all entities and ontology terms in the form.

Thx.

[2018-06-21 13:49] vanaukenk opened #76 "unable to use CURI format for reference in the form editor"
_From @sabrinatoro on June 20, 2018 21:52_

In the Form Editor: I am unable to add a reference in the following format:
ZFIN:ZDB-PUB-170818-4
The message on the form is : "The proper format for references in a GO annotation is 'DB:accession_number': evidence(1)"

When using the "Search Database" function, the reference imported in the ZFIN:ZDB-PUB-### format.
The form not allowing this format is a

[2018-06-21 13:50] vanaukenk commented on #76
Thanks for reporting this @sabrinatoro
@tmushayahama - let us know if you need any additional info.  Thx.

[2018-07-13 14:30] cmungall commented on #28
@tmushayahama  Is there a way to restate this ticket so that it is actionable?

I'm not sure I follow the context of the original question, but it seems like something that should be folded into a more general validation framework. This would not be SAE-specific?

[2018-07-19 02:51] krchristie opened #77 ""Copy to Form" doesn't fill properly when a middle line left blank"
I wanted to make an annotation identical to the existing one for Scrib, which has a BP term and an anatomy term but no cell type term, but with a different GO term instead.

However, when I used the "Copy to Form" function from the table, the autofill placed the anatomy term into the cell type line:

![20180718-formfillingissue](https://user-images.githubusercontent.com/10533218/42918705-a98b1d98-

[2018-08-15 21:43] vanaukenk opened #78 "Confirm most up-to-date annotations are available from Search database function"
Hi @tmushayahama

Today I was working on a model and wanted to see what MF annotations already existed for the C. elegans gene mat-3.

When I used the Search database option, I didn't see any MF annotations available, even though I can see one MF annotation in AmiGO:

http://amigo.geneontology.org/amigo/gene_product/WB:WBGene00003134

Can you double-check to see why that might be?

Thx!

[2018-08-15 23:14] kltm commented on #78
@tmushayahama If you are doing an annotation import, you quite probably want to be using the production GO GOlr servers. I.e.:

http://golr-aux.geneontology.io/ (recommended for bulk operations)
http://golr-aux.geneontology.io/ (the AmiGO UI server)

The NEO/Noctua load does not have annotations.
(I would note that the Function Companion does not use any of the above servers, but another one that

[2018-08-15 23:41] kltm commented on #78
If you are trying to do a search of the current public annotations via Solr, that would be the best choice.

[2018-08-16 17:36] tmushayahama commented on #78
@kltm what is the solution to the question from @vanaukenk about this endpoint not being up to date? Is function companion up to date?

@vanaukenk when you use the function companion with the same search, what results do you get?

[2018-08-16 18:04] vanaukenk commented on #78
@tmushayahama if I use the function companion from the Workbenches menu of the graph editor, and filter on 'mat-3', I do see the protein binding annotation for mat-3 available for import, and importing it seems to work fine.

[2018-08-20 20:58] vanaukenk opened #79 "Copying and modifying an annotation doesn't allow me to save"
I've copied an existing annotation from the table at the bottom of the form to the form, modified some of the entry (specifically changed the reference for MF and CC and removed the BP annotation) and even though the SAVE button is enabled, when I click on it, nothing seems to happen.

The copy functionality is a great feature to have for making small modifications to existing annotations, so it'd

[2018-08-21 19:54] vanaukenk commented on #68
@tmushayahama - I think this issue has been addressed so I'm going to go ahead and close the ticket.

[2018-08-21 19:54] #68 closed

[2018-08-21 19:58] vanaukenk commented on #64
@tmushayahama - also closing this issue as it appears to be working correctly now.  Thx.

[2018-08-21 19:58] #64 closed

[2018-08-21 20:51] vanaukenk commented on #50
@tmushayahama - I'm not sure of the correct status for this ticket.  Please go ahead and close if this issue is resolved.  Thx.

[2018-08-21 21:04] vanaukenk commented on #48
@krchristie - is this still an issue for you?
I just tried the example you gave above and it seems to work okay now.
Thx.

[2018-08-21 21:11] vanaukenk commented on #41
Also see: https://github.com/geneontology/simple-annoton-editor/issues/78

[2018-08-21 21:22] vanaukenk commented on #32
@cmungall
The WBbt terms are working fine in Noctua now.
I can close this ticket, but wanted to confirm with you that the part above about checking that the Uberon - WBbt bridge is not generating errors is in place.  If not, should we move that to a separate ticket in Uberon and/or WB?  Thx.

[2018-08-29 22:04] vanaukenk opened #80 "Check that all data sources are using the correct URL"
@kltm @tmushayahama

Tremayne will list all URLs that the form points to for retrieving data to make sure they are the correct ones.

[2018-08-29 22:16] vanaukenk commented on #77
@tmushayahama will investigate using distinct closures for cell and anatomy ontologies to fix this issue.

[2018-08-29 22:38] vanaukenk commented on #73
New behavior: if a curator enters a value into the Cell field, then the Anatomy relation will become part_of.
If no value is entered into the cell field, then the Anatomy relation stays as occurs_in.

[2018-08-29 22:53] vanaukenk opened #81 "Implement QC/QA rules into form"
See:

https://github.com/geneontology/noctua/issues/575

[2018-09-13 18:57] tmushayahama commented on #73
@vanaukenk @thomaspd Postponing this problem, by making the default bpOnly assumes everything is filled out. So is it okay to label this (changed _occurs in_ to _part of_ Anatomy)

![image](https://user-images.githubusercontent.com/2273929/45509084-69303f80-b74b-11e8-804d-31468d3362bb.png)

[2018-09-13 20:50] vanaukenk commented on #73
@tmushayahama   I think this works fine.

The only thing is that the graph editor is still making an occurs_in relation between the cell and anatomy term when both fields have a value:

![image](https://user-images.githubusercontent.com/1730534/45514915-c12f6c00-b774-11e8-978d-599c8f2bc09e.png)

When both fields are filled in, the cell type and anatomy fields should be connected via the 'part of'

[2018-09-13 21:10] vanaukenk commented on #74
@tmushayahama

I've tested and this all looks good now.

Thx.

[2018-09-13 21:11] vanaukenk commented on #27
@tmushayahama

I've also tested all of the BP only relations and everything looks good here, too.

[2018-09-13 21:28] tmushayahama commented on #73
_Testing using http://68.181.125.145:8910/_

Thanx @vanaukenk I have fixed the graph created on the . Can you check again together with the summary table table. So far it doesn't work when Cell Type is skipped

![image](https://user-images.githubusercontent.com/2273929/45516614-7d326c00-b760-11e8-8f68-50512160cf44.png)

Also I have updated the test pre and post check cases on that file https://doc

[2018-09-13 21:29] vanaukenk commented on #76
@tmushayahama

I've tested this with various permutations of possible paper identifiers and all worked fine.

Thx.

[2018-09-13 21:48] vanaukenk commented on #73
Hi @tmushayahama

Yes, the relations in the graph editor are now correct for me when both CC and Anatomy are filled in.

And when CC is skipped, the relation is not correct, i.e. it is BP part_of instead of BP occurs_in.  But this was working correctly earlier in the day, I thought, when I was doing some other testing.  Is that possible?

[2018-09-14 17:27] vanaukenk commented on #78
The mat-3 'protein binding' annotation has disappeared from the Search database functionality of the form, although it *is* still accessible from the Function Companion.

[2018-09-28 14:54] vanaukenk commented on #79
@tmushayahama
I can now save an annoton after copying it from the table to the form and modifying it.
However, the resulting behavior of the modified annotation wasn't what I expected in the graph editor.
For example, if I copy an annotation, add more evidence to it, and then save, rather than folding the evidence into the one annotation, it created a new, separate annotation.
This suggests that m

[2018-09-28 15:52] vanaukenk commented on #78
@tmushayahama - can you confirm that the Search database functionality of the form is searching the current set of production GO annotations?
@kltm - can the Function Companion and the form Search database functionality please search the same set of annotations?

[2018-09-28 18:58] kltm commented on #78
@vanaukenk I'll look into this: geneontology/noctua#586

[2018-09-28 19:55] vanaukenk commented on #78
Thank you @kltm !

[2018-10-02 21:52] vanaukenk opened #82 "Add 'Choose from an existing component' option to CC part of forms"
Similar to what we currently have now for the BP part of the Default form, i.e. 'Choose From an Existing Process', we would like to have an option to 'Choose From an Existing Component' option for the CC part of each form.

This will allow curators to annotate to the same instance of a component just like they do for biological process.

[2018-10-02 21:54] vanaukenk opened #83 "Change wording of 'Create from an existing activity'"
Under the Model Options menu, make a small change in the wording from:

'Create from an existing activity' to 'Create from an existing annotation'

Hopefully this will make it clearer to curators what that functionality is used for.

[2018-10-05 17:59] vanaukenk opened #84 "Move 'Search Database' option to top of list"
For the options on the right-hand side of each entry box in the form, it would be good to move the 'Search Database' option to the top of the list, as it's one of the most frequently used operations.

Thx!

[2018-10-12 00:06] kltm commented on #80
This should be centralized via geneontology/noctua#586

[2018-10-14 17:56] vanaukenk commented on #69
This all appears to be working correctly.

[2018-10-14 17:56] #69 closed

[2018-10-16 01:25] vanaukenk commented on #73
@tmushayahama - just checking on the status of this ticket wrt skipping the cell type and only adding an anatomy term.
Note that when a curator skips the cell type and only enters an anatomy term, it is possible to save the annotation without adding evidence to the anatomy term.
We need to also make sure that no annotation can be saved without evidence on each assertion.

[2018-10-16 16:20] vanaukenk commented on #79
TODO: document behavior of this feature of the form.

[2018-10-16 16:23] vanaukenk commented on #77
@tmushayahama
Does this also relate to #73 ?

[2018-10-16 19:01] vanaukenk opened #85 "Explore adding functionality to create more lines for specific rows in the form"
From: https://github.com/geneontology/noctua/issues/583

From @suzialeksander
I need to add two "has_input"s to an annotation. Is there a way to tweak the Form? I managed to do this through the Graph Editor but it wasn't intuitive (two different titles for what, to the user, are the same thing: "sub-nodes"/"edge & class expression"

From @vanaukenk
Perhaps we could add a feature to the form that w

[2018-10-16 20:12] vanaukenk opened #86 "Allow autocomplete using accessions or ids"
From: https://github.com/geneontology/noctua/issues/583

From @suzialeksander
Under MF in Form, I'm trying to add a protein by UniProt accession, but it won't autofill. Even if you type out "UniProtKB'", when you continue with the ":" all results disappear. I made the model with a UniProt and the information is lost (with no warning to user). I had to type out the name/organism, when I already had

[2018-10-19 14:53] mcharrison345 opened #87 "Scrolling on large Noctua forms"
Scrolling can be difficult on larger Noctua forms (in the table), specifically on this one so far http://noctua.geneontology.org/workbench/simple-annoton-editor/?model_id=gomodel:5b318d0900000194&barista_token=2z1ey6mh2mqo5xwybxwh
@tmushayahama

[2018-12-20 20:41] suzialeksander opened #88 "Tiny Noctua bugs: duplications of AP in Form menu, typo on AP"
In Noctua Form's menu "view" has two options for Annotation Preview, the one at the bottom does nothing as far as I can tell.

Annotation Preview says "This workbench does will automatically update on changes." Perhaps it was meant to say "This workbench will automatically update on changes."?

[2019-01-14 21:21] cmungall opened #89 "Allow additional interacting taxon ID"
This is only used when a curator is annotating an inter-species interaction

This will essentially act as an extra level of partonomy:

[code]

in practice this will frequently be short-circuited, direct CC to taxon

[2019-01-14 21:49] cmungall opened #90 "Allow annotation to gene product IDs not in neo"
Context: https://docs.google.com/document/d/1RVlRNic37R3EQZfiNjn4R7Q6R3v_XSIg1DT7uQUwW-s/edit

Curators in the multi-organism group need to be able to annotate to species that may not be in neo

The GE allows pasting in of arbitrary IDs - we should make the form have similar functionality

[2019-01-25 16:11] vanaukenk opened #91 "Incorrect error messages and duplicated error messages"
I have a very simple test model, MF enabled_by GP, that is showing an error message in the Noctua form saying there is an incorrect relation between the two nodes.

The same error message is also shown in triplicate; not sure why that happens.

![image](https://user-images.githubusercontent.com/1730534/51757584-c4772480-2091-11e9-82f2-db4baa364a72.png)

[2019-01-30 06:10] kltm opened #92 "Add Minerva reasoned GO Rule violation results to the form interface"
This ticket is to add the additional violation information to the correct slots in the noctua form interface, as defined in geneontology/minerva#212 .
This is initially blocked by geneontology/noctua#598; once that is completed, we should start adding the violations to the form interface. This will likely require changing the UI code to deal with rebuilding on every action (which will also help wi

[2019-01-31 23:42] kltm opened #93 "Form to take "focus" arguments"
The completion of this form is the addition of a mechanism that will load the contents of a given individual-as-annoton from a model as the current edit in the form.

This is necessarily dependent on the mechanism in https://github.com/geneontology/noctua/issues/599

[2019-01-31 23:45] kltm opened #94 "Add curator choice for BP selection"
When a user edits a BP that is shared by two or more (annoton) MFs, the user will be forced into selecting either having the currently edited annoton's BP be changed into a new separated instance (new instance) or make the change for all connected annotons (edit instance).

[2019-03-01 09:48] tmushayahama commented on #93
@kltm can you explain this further.

[2019-03-01 10:01] tmushayahama commented on #90
@cmungall @thomaspd can you make the requirements. Sometime ago, we all discussed before briefly that a user will put an ID on the GP then if it is not on the autocomplete, then Noctua Form will make an exception and put it in as it is. However, I don't know if the ID is correct and very error prone  Any thoughts?.

[2019-03-01 10:03] tmushayahama commented on #89
@thomaspd Can you explain this one

[2019-03-01 10:07] tmushayahama commented on #87
Hi @mcharrison345 Do you still have this model. The link is no longer working

[2019-03-11 23:52] kltm commented on #93
Apologies.
Essentially, we would want to be able to have an additional argument so that we could jump from an external location (say the graph editor) into the form with a specified annoton already loaded and ready to go--the focus. This would allow easy edits without having a user jump over and need to search for what they want to edit.

[2019-03-11 23:56] thomaspd commented on #89
This would be another level of nesting of the CC context.  Right now in the form, it is
MF
occurs in CC
part of CC
part of cell type
part of anatomy

We would add the ability to include one more level of nesting at the end of that chain:
part of organism

It could be implemented in Noctua form under the ... button at the end of any of the fields above (for example "part of CC").  The text could be

[2019-03-12 00:14] thomaspd commented on #90
We want this to be restricted to UniProt identifiers.  So the user needs to paste a valid uniprot ID, e.g. P12345.  One way to do it would be this:

We could use the UniProt website API to do the request:
https://www.uniprot.org/uniprot/P12345.txt

If the service doesn't return a text entry (e.g. try the above URL with P123456 instead), the identifier is not valid and Noctua form should pop up an

[2019-03-12 02:39] cmungall commented on #90
Sorry, I didn't see @tmushayahama's request. Let's hold off until thursday software call. We don't want different parts of the stack calling different services.

My suggestion was just to allow pasting of IDs unchecked to bring parity with the GE. If we want to prioritize having this work properly (which is massively important for anyone outside MOD/human) then let's discuss the approach and imple

[2019-04-29 18:24] vanaukenk commented on #78
@tmushayahama @kltm
It looks like this issue still exists.
I was just trying to add an MF annotation using the Noctua form and can't find the MF I want in the Search database entries, even though that annotation exists in AmiGO, WB, and Protein2GO.
I *can* find the annotation if I use the Function Companion.
@tmushayahama - let's discuss tomorrow.

[2019-04-30 17:35] #78 closed

[2019-05-30 23:47] kltm opened #95 "The NOT qualifier does not seem to appear"
From @krchristie

**1. In the form editor**

The NOT qualifier does not seem to appear at all in the form view. There are two annotations to the term 'phasphatidylinositol-4,5-bisphosphate binding' in this model, one without a NOT and one WITH a NOT. However, in the form view you cannot tell the which one has the NOT qualifier. The one that is supposed to have it is the row highlighted in gray; co

[2019-06-03 23:00] krchristie commented on #95
Looks like I left out a phrase in my comment above and I can't edit the above since it was done by @kltm instead of me.

Similarly to the Annotation Preview, it would be fine to place the qualifier right next to the 'enabled by' relationship. However, for readability in the curation interface, it would be preferable if it was displayed as something like "**NOT enabled by**" rather than **<enabled

[2019-06-05 17:40] vanaukenk commented on #73
@tmushayahama
There is still a bug when curators enter an anatomy term, but not cell type on the BP only form.  The relation between the process and the anatomy term needs to be occurs_in rather than part_of when no cell type is entered.
Here is what currently happens:

![image](https://user-images.githubusercontent.com/1730534/58977242-50633080-8797-11e9-8a12-aa9cdfaa74c5.png)

This is a high pri

[2019-06-15 16:57] krchristie opened #96 "Add systematic order & sorting to table of annotations in form view"
I am finding it very difficult to be able to check that I have entered all of the annotations that I meant to in Noctua. There does not seem to be any simple way to sort by either annotated gene, or term annotated to.

This is particularly problematic when you have entered a significant number of annotations such as in this model.
ID - gomodel:5c4605cc00003312
Name - SPATA7 maintains photoreceptor

[2019-06-26 17:45] vanaukenk commented on #91
Closing this ticket, as I don't see this behavior any more with C. elegans models.  Will re-open if the behavior shows up again.

[2019-06-26 17:45] #91 closed, assigned to tmushayahama

[2019-06-26 19:54] #76 closed

[2019-06-26 20:01] vanaukenk commented on #74
Re-visiting this issue since it is possible for a curator to enter just 'PMID:' as a reference and still get the annotation to save.
The reference should have characters and/or numbers after the colon.
Note that this reference behavior is not limited to BP only, but also happens on the Default form.

[2019-06-26 20:21] vanaukenk commented on #72
There are a number of things in this ticket, but the main issue wrt placement of new nodes seems to be fixed, so I will close the ticket.
For effects of deleting BP nodes, see #94

[2019-06-26 20:21] #72 closed

[2019-06-26 20:30] vanaukenk commented on #71
@pfey03
I've just tested this again with dictyBase genes and all seems to be working.
I'm closing the issue, but please re-open if you have trouble with this in the future.

[2019-06-26 20:30] #71 closed

[2019-06-26 20:57] vanaukenk commented on #50
@tmushayahama - please feel free to close this ticket, if these issues have been resolved.  Thx.

[2019-07-10 21:35] vanaukenk commented on #85
Note that multiple 'has input' relations and values are allowed in the current spec:

https://github.com/geneontology/GO_Shapes/blob/master/shapes/go-cam-shapes.shex

[2019-07-10 21:38] vanaukenk commented on #89
This is accounted for in the current specs:

https://github.com/geneontology/GO_Shapes/blob/master/shapes/go-cam-shapes.shex

[2019-07-10 21:40] vanaukenk commented on #73
Needs to be addressed in current specs:

https://github.com/geneontology/GO_Shapes/blob/master/shapes/go-cam-shapes.shex

[2019-07-30 18:11] tmushayahama commented on #96
Hi @krchristie

Sorting will be implemented on the new form. In addition, to help table view better, you will be able to collapse each activity.

**a teaser**
![image](https://user-images.githubusercontent.com/2273929/62153700-050e5f80-b2ba-11e9-9142-03df996e9307.png)

Any other sorting criteria? so far I have gp, mf and recently added.

Tagging @vanaukenk

[2019-07-30 18:18] tmushayahama commented on #95
@krchristie Yes, a little hiccup, I always forget that GP and MF are reversed. I will revise this, but is it ok if I just put it in the new Noctua Form

@vanaukenk @krchristie just to clarify. There is no NOT on the extensions?

[2019-07-30 18:25] tmushayahama commented on #94
hmmm @vanaukenk should this be a choice or calculated cleverly behind the scenes. It is the same as reversing "connect to existing Node" feature

[2019-07-30 18:27] tmushayahama commented on #93
@kltm any update on this? What about local storage

[2019-07-30 18:31] tmushayahama commented on #58
@vanaukenk I think this can be closed. Also thinking, if we assume that all the models are correct. Will there be a need for an error message?

[2019-07-30 18:49] tmushayahama commented on #61
First on this issue, I will fix the second occurs_in and should be part of, correct? @krchristie so this is about where the dropdown of the connections is located? Noctua 2.0 will address this issue. But where exactly can I put it?

Is it possible to ask a question before the dropdown. like Relationship to Anonymous MF? [____v]

[2019-07-30 20:54] vanaukenk commented on #61
@tmushayahama
Thanks for fixing the second 'occurs in' issue; that relation should be 'part of'.

Wrt the MF - BP relations, I think what @krchristie is saying is that in the BP only version of the form it makes more sense to her to show root MF (molecular_function) and then display the MF - BP relations in the dropdown rather than the gene product-to-BP relations.

That display would then more ac

[2019-07-30 21:00] vanaukenk commented on #58
@tmushayahama - I think we can close the ticket here, but the issue of curator friendly error messages is something we still need to work on generally wrt Noctua.

I'm willing to bet we have some existing models that will fail shex validation, but I'm not so clear on what our SOP will be for fixing them.  That may depend on the type of error.

[2019-07-30 21:00] #58 closed

[2019-07-30 21:47] tmushayahama commented on #83
@vanaukenk We have to address it on the Form 2.0. This one is simply pre-filling the activity form with text values, but not necessarily copying or linking nodes.  Since form 2.0 will have edit, then copy and edit will be much more useful. I think it was a temporary way when curators wanted to make a similar activity but change lets say only BP values

@krchristie @pgaudet any suggestions on how w

[2019-07-30 21:53] tmushayahama commented on #84
@vanaukenk yes, currently it is here on the Form 2.0 .What category should I give to the dangling operations on top ("clear values", "root term") so that it flows smoothly. If search is on top then clear values and root term will seem like they are in search category

![image](https://user-images.githubusercontent.com/2273929/62167973-43674700-b2d9-11e9-8726-86d576146cd1.png)

[2019-07-30 22:47] tmushayahama commented on #50
@kltm @vanaukenk @lpalbou @cmungall before closing this, any way the neo autocomplete can be an API (then ideally a web component :) ). I think some things should be hidden especially the weights etc more info on newly created ticket https://github.com/geneontology/minerva/issues/236

[2019-07-30 22:51] tmushayahama commented on #75
@vanaukenk yes, this one can be safely added as Form 2.0 will not create macromolecular complex on the fly. I think has part terms was the issue

[2019-07-30 22:53] kltm commented on #50
@tmushayahama I think there is something to be said for either having NEO available in biolink for a simplified API or having a more custom-fitted bbop-manager subclass for it (although weights are purely optional, I'm not sure why one would use those). I think that having multiple API wrappers for Solr is likely the wrong way to go.

[2019-07-30 22:53] tmushayahama commented on #89
@cmungall @vanaukenk @kltm any idea of how to autocomplete taxon id and short of long taxon names on neo?

[2019-07-30 22:59] tmushayahama commented on #87
@mcharrison345 @vanaukenk with the new Form2.0 the collapsing/expansion of activities will partially solve the issue. Will test with everything expanded

![image](https://user-images.githubusercontent.com/2273929/62171109-bb863a80-b2e2-11e9-9b97-5f4e61ec9bcd.png)

[2019-07-30 23:00] kltm commented on #93
I'm not sure what you mean by local storage.
The action here would be the addition of such a parameter to the form. The workbenches already allow larger parameter sets. For example, in the graph editor, click on the green box of a collapsed individual and scroll down to the "Component companion". You can see that is has more parameters than model ID, which are interpreted by the companion.

[2019-07-31 04:45] tmushayahama commented on #92
@kltm now that we have shex, any update on this? I think the comments should be on the https://github.com/geneontology/minerva/issues/212 ticket

[2019-07-31 04:54] tmushayahama commented on #90
@cmungall @vanaukenk @thomaspd @lpalbou  this was decided not to happen, right? All the gps should be in neo? Any update or changes? However, thinking about the workflow, there should be a mechanism for putting/requesting new gp and annotate without having to wait for a long time or break the curator annotation workflow (i.e. if GP is missing in NF, they cannot save or continue

[2019-07-31 04:55] tmushayahama commented on #88
@suzialeksander thanks, I never noticed it.

[2019-07-31 05:11] tmushayahama commented on #85
@suzialeksander @vanaukenk yes, this feature will be implemented on Form 2.0 . I am still playing around with how to best expand the form without overwhelming it on its default ( first impressions :) ) @thomaspd had a good suggestion of adding the option on the MF row like below

![image](https://user-images.githubusercontent.com/2273929/62185231-7976ec00-b316-11e9-9deb-6fc7408de000.png)

 With pr

[2019-07-31 05:23] tmushayahama commented on #86
@vanaukenk @suzialeksander
1) I think the first problem of pasting was fixed
2) The second problem of putting ":" seems to work for GO, i.e. if I put GO:xyz, but somehow UniProtKB seems not to work. Also I don't think there are 2 MGI gps :) below autocomplete result

![image](https://user-images.githubusercontent.com/2273929/62185678-3c135e00-b318-11e9-9370-aa7d701ef8b5.png)

@lpalbou once brought

[2019-07-31 05:25] tmushayahama commented on #82
@vanaukenk see https://github.com/geneontology/simple-annoton-editor/issues/83 for comments

[2019-07-31 05:32] tmushayahama commented on #81
@pgaudet @vanaukenk and shex happened yay!! However to revisit considering the new spec, what are the rules to implement which shex does/will not cover. Can I call them "logical rules" i.e. evidence allowed, ND evidence etc

tagging @kltm @balhoff @goodb what will be the scope for minerva validation after shex in terms of the current go rules?

noctua repo will be the best to discuss this https://

[2019-07-31 05:51] tmushayahama commented on #80
@kltm @vanaukenk @lpalbou so far it is working, however it is preferable not to hard code these urls from researching and digging code like from what other workbenches are using or startup config yaml files. Is there a way to document this in a like data sources document. Which NEO to get closure info, where to get function companion, which NEO autocomplete.

So many of them :) https://github.com/

[2019-07-31 05:54] tmushayahama commented on #79
@vanaukenk see comment on here https://github.com/geneontology/simple-annoton-editor/issues/83 I should have put the comment here

[2019-07-31 05:59] tmushayahama commented on #77
@krchristie @vanaukenk also in addition, Form2.0 will have good mechanism for copying editing. In the meantime check out the below related issues for comments and questions on how modifying, copying duplicating will/should work

https://github.com/geneontology/simple-annoton-editor/issues/83
https://github.com/geneontology/simple-annoton-editor/issues/79
https://github.com/geneontology/simple-anno

[2019-07-31 06:07] tmushayahama commented on #74
@vanaukenk I missed this. Will handle it well in Form 2.0 . It will follow these rules (is below premises correct)

- BP term is required for BP only form but not required for default form
- If a term is filled then evidence is required
- If evidence is provided then a reference is required

[2019-07-31 06:15] tmushayahama commented on #49
@krchristie @vanaukenk I think this was addressed on the current form, by simply copying the values over. Form2.0 will handle it with a warning. However, I haven't really thought carefully of where place and trigger the cc only form . From the below, you can see the call to action button called "Add Activity" and the form has CC Only button from the dropdown. However, CC Only is not an activity

!

[2019-07-31 06:19] tmushayahama commented on #48
@vanaukenk @krchristie I think this was solved. Is it still an issue? However, related issue is we have to keep an eye after neo reload as sometimes doesn't resolve some urls tagging @kltm hpps still showing

![image](https://user-images.githubusercontent.com/2273929/62188160-6c5efa80-b320-11e9-92dd-74b61cb516a6.png)

[2019-07-31 14:25] vanaukenk commented on #95
@tmushayahama

That is correct; there is no NOT on the extensions.  The only place the NOT value is used is to negate the GO term in the primary (i.e. unextended) annotation.

[2019-07-31 14:34] vanaukenk commented on #94
@tmushayahama

I think this has to be an informed change by the curator and not something that we can, or should, calculate behind the scenes.

[2019-07-31 14:52] vanaukenk commented on #86
@tmushayahama @kltm

It would be very helpful to curators to be able to cut and paste just an entity id or an accession into the form and graph editor without the prefix.

For example, pasting 'WBGene00002121' does not match anything, but pasting 'WB:WBGene00002121' does.

When curators are copying ids or accessions, they are likely doing it from pages that don't have the prefixed form of the id.

[2019-07-31 14:58] vanaukenk commented on #85
Thanks @tmushayahama

I agree that we need to make this functionality more visible.

How about something simple like a '+' sign next to the rows that can have more than one entry (according to the shex specifications, of course)?

Clicking on the '+' sign would generate an additional row.

[2019-07-31 17:55] vanaukenk commented on #96
Sort specifications:

Gene product - sort by label

MF - sort by label

Other GO terms - sort by label for BP (directly related to MF) and label for CC (directly related to MF)

Date - sort by value

[2019-07-31 18:40] vanaukenk commented on #94
Action: in the form view, each shared node will be color-coded separately.
@tmushayahama will try this and we'll take a look to see how helpful, or not, it is.

[2019-07-31 18:59] vanaukenk commented on #61
@balhoff - we need to be clear on how to do the pass through from, say, an MF directly to an Anatomical Entity.

[2019-07-31 19:09] vanaukenk commented on #61
For BP only in form2.0:

With respect to, the relations between root MF and BP on the BP only form, change to 'causally upstream of or within' and children.

Also, show default annotation to root MF.

[2019-08-02 21:04] kltm commented on #92
ShEx is not currently available in Minerva.

[2019-08-02 23:21] kltm commented on #86
This likely connects back to loader issues, etc: https://github.com/geneontology/amigo/issues/120

[2019-08-02 23:23] kltm commented on #80
Explanation for config uses: https://github.com/geneontology/noctua/blob/master/config/README.md

AFAIK, there is only one active NEO in the universe right now.

[2019-08-04 18:06] cmungall commented on #89
I suggest we just do this in a generic fashion. Do not implement any
specific code. Currently the curator must know the 4 letter code but when
we have so many organisms this is unwieldy we will just add synonymy info
to neo

On Tue, Jul 30, 2019 at 3:53 PM Tremayne <notifications@github.com> wrote:

[2019-08-06 17:45] vanaukenk commented on #89
@kltm - has confirmed that the NCBI slim taxon is loaded in neo.  What is the source of the NCBI slim taxon?

An alternative source of species information is the BioLink API.  The source of data here would be the species list in AmiGO (annotated species OR ontology taxon slim).

Ideally, curators would be able to autocomplete on taxon id or name or substring of a name.

For now, curators will just

[2019-08-08 00:58] cmungall commented on #89
(Apologies my previous comment didn't make sense as I thought we were
talking about filtering genes by taxon)

taxslim is the subset used by various ontologies for taxon constraints plus
the set used for manual curation in GO. If we want to be sure any taxon can
be used we can just include the full ncbitaxon in the import chain

On Tue, Aug 6, 2019 at 10:45 AM vanaukenk <notifications@github.com>

[2019-08-09 20:14] vanaukenk opened #97 "Label 'active' form depending on curator action"
From 2019-08-09 call:

We would like for curators to be clear on exactly what action they are taking with any given view of form 2.0.

To help with that, we'll add a labels to the top of the form.  Here are the suggestions:

When creating a new activity in the default form:

Activity Form -> Create New Activity

When editing an existing activity:

Activity Form -> Edit Existing Activity

When crea

[2019-08-12 17:42] tmushayahama commented on #97
@vanaukenk I was thinking we can now start to put new issues in this repo https://github.com/geneontology/noctua-form

Activity Unit sounds good.

**Just for a fun ramble**
Create and New in most apps, either one of them is used, but not both :) .
UI discussion here https://ux.stackexchange.com/questions/57535/new-vs-create

Verbs are always good, so there's another nice one  'Add' It actually cov

[2019-08-12 21:33] vanaukenk commented on #97
Yes, @tmushayahama - I will put new tickets in noctua-form now.  Sorry about that!

Let's discuss exact terminology on tomorrow's workbenches call :-)

[2019-10-01 17:01] vanaukenk commented on #96
The current iteration of the form (2.0) automatically sorts annotations in the table alphabetically in descending order.
@tmushayahama - can we close this ticket and any additional sorting requests could be tracked in the noctua-form repo?

[2019-10-02 18:06] #96 closed, assigned to tmushayahama

[2019-10-03 04:49] tmushayahama opened #98 "Renaming to noctua-form-legacy"
Change the config file from simple annoton editor to noctua form editor

[2019-10-30 18:37] tmushayahama commented on #63
@vanaukenk let's link this one to the proposed with field constraint

[2019-10-31 19:40] vanaukenk commented on #89
@tmushayahama - can we close this now that we have organism in the CC annotation extensions on the Noctua 2.0 form?

[2019-11-01 16:04] #89 closed, assigned to tmushayahama

[2019-11-05 16:34] vanaukenk commented on #49
Closing this issue on the noctua-form-legacy tracker.

The work is now under this ticket on the noctua-form tracker:

https://github.com/geneontology/noctua-form/issues/31

[2019-11-05 16:34] #49 closed

[2020-02-12 17:34] #95 closed, assigned to tmushayahama